:root {
    --dark-purple:#AB88FF;
    --light-purple:#D8C8FF;
    --green:#C2F557;
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
/*************************
Safari button reset
*************************/
button {
    color:black;
}
/************************/
body {
    width:100vw;
    background-color:white;
    color:black;
    
}

main {
    width:100vw;
    color:black;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
    gap:5rem;
}
/*****************************/
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width:100vw;
    padding-inline:4rem;
    padding-top:1rem;
    background-color:rgba(255, 255, 255, 0.8);
}
.logo-container img {
    width:50px;
}
nav {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
}
nav ul {
    display:flex;
    list-style:none;
    justify-content: space-evenly;
    width:41rem;
}
nav ul li a {
    text-decoration: none;
    color:black;
}
.nav-button-container button {
    padding:0.25rem 1rem;
    border-radius:2rem;
    background-color:var(--dark-purple);
    border:none;
    color:white;
}
/*********************/
.hero-section {
    width:100vw;
    display:flex;
    gap:1.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top:11rem;
    padding-inline:4rem;
}
.hero-wrapper {
    width:80vw;
}
.hero-wrapper h1 {
    font-family: 'Bowlby One SC', cursive;
    font-size:max(4vw, 2.5rem);
    text-align:center;
}
.hero-wrapper h1 span {
    font-family: 'Bowlby One SC', cursive;
    color:var(--dark-purple);
}
.hero-button-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;

}
.hero-wrapper h1:nth-of-type(2) {
    display:none;
}
.hero-button-wrapper button {
    width:max(7rem, 9vw);
    padding-block:0.5rem;
    font-size:max(1.25vw, 0.75rem);
    color:white;
    background-color:black;
    font-weight:500;
    border:none;
}
.hero-button-wrapper p {
    width:50%;
    font-size:max(0.75rem,1.3vw);
}
.hero-wrapper h1 span:last-of-type > img {
    width:max(2.5rem, 3vw);
}
/*************************/
.hero-image-wrapper img {
    width:max(80vw, 600px);
    margin-top:2rem;
}
/**********************/
@media (max-width:704px) {
    .hero-wrapper h1:last-of-type {
        display:block;
    }
    .hero-wrapper h1:first-child {
        display:none;
    }
    .hero-button-wrapper p {
        width:90%;
        text-align:center;
    }
    .hero-button-wrapper {
        flex-direction: column-reverse;
    }
    .hero-section {
        max-height:50rem;
    }
  
}
@media (max-width:835px) {
    nav {
        display:none;
    }
}
@media (max-width:330px) {
    .hero-wrapper h1 {
        font-size:2rem;
    }
}
@media (max-width:619px) {
    .hero-image-wrapper img {
        width:90vw;
    }
}
/***************************/