:root {
    --dark-purple:#AB88FF;
    --light-purple:#D8C8FF;
    --blue:#0A2640;
    --new-green:#65E4A3;
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'EB Garamond', serif !important;
    overflow-x:hidden !important;
    scroll-behavior:smooth;
}

/*************************
Safari button reset
*************************/
button {
    color:black;
}
/************************/
body {
    width:100%;
    background-color:white;
    color:black;
    
}

main {
    width:100%;
    color:black;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
    gap:5rem;
}
/*****************************/
header {
    width:100%;
    display:flex;
    justify-content: center;
}
.header-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width:100%;
    padding-inline:6rem;
    background-color:white;
    z-index:200;
    max-width:1440px;
    background-color:transparent;
    padding-block:1.5rem;
    
}
.logo-container img {
    width:200px;
}
nav {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    align-self:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

}
nav ul {
    display:flex;
    list-style:none;
    align-items: center;
    gap:4rem;
    color:black !important;

}
nav ul li a {
    text-decoration: none;
    color:black;

}
nav ul li {
    text-decoration: none;
    font-size:0.9rem !important;


}
.nav-button-container button {
    padding:0.3rem 1.5rem;
    background-color:#4FE9A4;
    border:none;
    color:black;
    font-size:1rem;
    display:flex;
    align-items: center;
    gap:0.5rem;
}
.nav-button-container button img {
    width:20px;
}
.menu {
    width:35px;
    display:none;
    cursor:pointer;
    z-index:1000;
    position:relative;
}
.drop-down {
    background-color:var(--blue);
    opacity:0.8;
    color:white;
    position:absolute;
    right:10%;
    bottom:-600%;
    transform:translateY(-100%);
    opacity:0;
    transition:0.5s;
    /* height:35rem; */
    padding:2rem;
    padding-block:4rem;
    display:none;
    width:20rem;
    overflow-y: hidden;
}
.logoWhite {
    margin-bottom:4rem;
}
.dropDownWhyUs,
.dropDownWebDesign,
.dropDownPricing {
    position:relative;
    flex-direction:column;
}
.dropDownWhyUs span,
.dropDownWebDesign span,
.dropDownPricing span {
    display:flex;
    align-items: center;
    gap:1rem;
    align-self:flex-start;
}
.drop-down-our-work-burger {
    display:flex;
    flex-direction:column;
    gap:2.5rem;
    position:absolute;
    border:2px solid black;
    background-color:var(--new-green);
    font-weight:bold;
    color:black;
    left:0%;
    top:100%;
    padding:4rem;
    padding-block:2rem;
    transform:translateY(-250%);
    opacity:0;
    transition:0.5s;
    z-index:2;


}
.drop-down-web-design-burger {
    display:flex;
    flex-direction:column;
    gap:2.5rem;
    position:absolute;
    border:2px solid black;
    background-color:var(--new-green);
    font-weight:bold;
    color:black;
    left:0%;
    padding:4rem;
    top:100%;
    transform:translateY(-250%);
    opacity:1;
    transition:0.5s;
    z-index:2;

}
.drop-down-pricing-burger {
    display:flex;
    flex-direction:column;
    gap:2.5rem;
    position:absolute;
    border:2px solid black;
    background-color:var(--new-green);
    font-weight:bold;
    color:black;
    left:0%;
    padding:4rem;
    top:100%;
    transform:translateY(-250%);
    opacity:1;
    transition:0.5s;
    z-index:2;

}
.drop-down-burger-add {
    transform:translateY(0);
    opacity:1;
    transition:0.5s;
}
.drop-down-burger-add {
    transform:translateY(0);
    opacity:1;
    transition:0.5s;
}

.drop-down span img {
        width:25px;
}
.drop-down li {
    display:flex;
    align-items: center;
    gap:1.5rem;
}
.drop-down ul {
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:2.8rem;
    height:100%;
}
.drop-down button {
    padding:0.25rem 1rem;
    border-radius:0;
    border:2px solid var(--new-green);
    background-color:var(--new-green);
    display:flex;
    align-items: center;gap:0.5rem;
}
.logoWhite {
    width:200px;
}
.toggle {
    transform:translateY(0);
    opacity:1;
    transition:0.5s;
}




@media (max-width:1144px) {
    nav {
        display:none;
    }
    .nav-button-container {
        display:none;
    }
    .menu {
        display:block;
        width:25px;
    }
    .drop-down {
        display:block;
    }
}
/*********************/

.hero-section h1,
.hero-section p {
    font-weight:700;
}
.hero-section h1 {
    transition:0.5s;
    transform:translateY(100%);
    transform-origin:bottom;
    opacity:0;
    animation:slide-up 1s ease-out forwards;
}
@keyframes slide-up {
    to {
        opacity:1;
        transform:translateY(0);
    }
}
.hero-section h1 {
    font-size:3.5rem ;
    text-align:center;
    position:relative;
}
.hero-section p {
    font-size:1.1rem;
    font-weight:300;
    
    transition:0.5s;
    transform:translateY(200%);
    transform-origin:bottom;
    opacity:0;
    animation:slide-up 1s ease-out forwards;
    animation-delay:1s;

}
.hero-buttons button{
    padding-block:0.75rem;
    padding-inline:2rem;
    background-color:var(--new-green);
    color:black;
    border:2px solid var(--new-green);
    transition:0.5s;
    transform:translateY(200%);
    transform-origin:bottom;
    opacity:0;
    animation:slide-up 1s ease-out forwards;
    animation-delay:1.5s;


}

.hero-section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

}
.hero-wrapper {
    width:100%;
    max-width:1440px;
    padding: 12rem 6rem;
    min-height:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:2rem;
    position:relative;
    padding-top:14rem;


}
.hero-wrapper::-webkit-scrollbar {
    display: none;
}

.absolute {
    position:absolute;
}
.absolute:nth-of-type(1) {
    right:15%;
    top:20%;
    width:15px;
}
.absolute:nth-of-type(2) {
    left:10%;
    bottom:26%;
    width:15px;
}

.absolute:nth-of-type(3) {
    right:0%;
    bottom:0%;
    width:200px;
} 
.hero-wrapper h1 img:nth-of-type(1) {
    width:70px;
    left:5%;
    top:-50%;
}
.hero-wrapper .exist img {
    width:75px !important;
    z-index:-1;
    top:-10% !important;
    left:70% !important;
}
.hero-wrapper .affordable img {
    
    top:-100% !important;
    left:-20% !important;
}
.exist {
    position:relative;
}
.affordable {
    position:relative;
}
.hollow {
    width:15px !important;
    top:30%;
    left:10%;
}
.hollowed {
   right:20% !important;
    bottom:10%;
}

main {
    gap:0;
}
.new-circle {
    position:relative;
}
.new-circle-img {
    position:absolute;
    width:50px !important;
    left:80% !important;
    z-index:-1;
    top:0% !important;
    display:none;
}
@media (max-width:892px) {
    .hero-section h1 {
        font-size:3rem;
    }
    .hero-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:720px) {
    .hero-wrapper .affordable img {
        width:60px !important;
        top:-60% !important;
        left:-12% !important;
    }
    .hero-wrapper .exist img {
        width:50px !important;
        left:75% !important;
    }

.hero-wrapper p {
    text-align:center;
}
}
@media (max-width:714px) {
    .hero-wrapper h1 {
    font-size:2.75rem;
    }
    .hero-wrapper p {
        font-size:1rem;
    }

}
@media (max-width:666px) {
    .hero-wrapper h1 {
        font-size:2.5rem;
    }
    .hero-wrapper {
        padding-inline:2rem;
    }

   

}
@media (max-width:660px) {
    .header-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:562px) {
    .header-wrapper {
        padding-inline:2rem;
    }
    .hero-wrapper h1 {
        font-size:2.25rem;
    }
    .hero-wrapper p {
        font-size:0.8rem;
    }
    .hero-buttons button {
        font-size:0.7rem;
        padding-block:0.5rem;
        padding-inline:0.75rem;
    }
}
@media (max-width:508px) {
    .hero-wrapper h1 .gone {
        display:none;
    }
    .new-circle-img {
        display:block !important;
    }
}
@media (max-width:402px) {
    .hero-wrapper {
        padding-inline:1rem;
    }
}
@media (max-width:376px) {
    .hero-wrapper h1 {
        font-size:2rem;
    }
}
@media (max-width:334px) {
    .hero-wrapper p {
        font-size:0.7rem;
    }
    .hero-wrapper h1 {
        font-size:1.8rem;
    }
}
@media (max-width:316px) {
    .logo-container img {
        width:150px;
    }
}
@media (max-width:292px) {
    .hero-wrapper {
        padding-inline:0.5rem;
    }
}






/*************************/
.hero-wrapper {
    padding-bottom:4rem;
    padding-top:12rem;

}

.flagpole-section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.flagpole-wrapper {
    padding:6rem;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    padding-top:0rem;
    max-width:1440px;

}
.flag-card {
    border-left:0.5px solid black;
    padding:2rem;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    gap:1rem;
    position:relative;
    overflow:visible !important;
    padding-right:4rem;
}
.flag-card {
    transition:0.5s;
    transform:scaleY(0);
    transform-origin:bottom;
    opacity:0;
    animation: grow-in 0.5s ease-out forwards;
    animation-delay:1.75s;
}
.flag-card:nth-child(1) {
    transition:0.5s;
    transform:scaleY(0);
    transform-origin:bottom;
    opacity:0;
    animation: grow-in 0.5s ease-out forwards;
    animation-delay:1.75s;

}
.flag-card:nth-child(2) {
    transition:0.5s;
    transform:scaleY(0);
    transform-origin:bottom;
    opacity:0;
    animation: grow-in 0.5s ease-out forwards;
    animation-delay:2s;
}
.flag-card:nth-child(3) {
    transition:0.5s;
    transform:scaleY(0);
    transform-origin:bottom;
    opacity:0;
    animation: grow-in 0.5s ease-out forwards;
    animation-delay:2.25s;
}




.h2-one,
.h2-two,
.h2-three {
    opacity:0;
    transition: 0.5s;
    transform:translateX(-10%);
    transform-origin:left;
    animation: slide-in 0.5s ease-out forwards;

}
.p-one,
.p-two,
.p-three {
    opacity:0;
    transition: 0.5s;
    transform:translateX(-10%);
    transform-origin:left;
    animation: slide-in 0.5s ease-out forwards;
    font-weight:200;

}
.h2-one {
    animation-delay:2.5s;
}
.h2-two {
    animation-delay:2.75s;
}
.h2-three {
    animation-delay:3s;
}
.p-one {
    animation-delay:3.25s;
}
.p-two {
    animation-delay:3.5s;
}
.p-three {
    animation-delay:3.75s;
}





@keyframes slide-in {
    to {
        opacity:1;
        transform:translateX(0);
        transform-origin:left;

    }
}
.flag-card::before {
    content: " ";
    width:0.5rem;
    height:0.5rem;
    border-radius:100%;
    border:0.09rem solid black;
    position:absolute;
    background-color:white;
    overflow:visible !important;
    top:0;
    left:-1%;
    animation: delayed-slide 1s ease-out forwards;
    transform:translateY(3000%);
    opacity:0;
    transition: 0.5s;
    animation-delay:2.25s;

}
.flag-card:nth-child(1)::before {
    animation-delay:2.25s;
}
.flag-card:nth-child(2)::before {
    animation-delay:2.5s;
}
.flag-card:nth-child(3)::before {
    animation-delay:3s;
}
@keyframes delayed-slide {
    to {
        transform:translateY(0);
        opacity:1;
    }
}
.flag-card h2 {
    line-height:0.8;
    overflow:visible !important;
}
.flag-card p {
    line-height:1.75;
}

/* .flag-card:nth-of-type(3)::after {
    content: " ";
    width:0.5rem;
    height:0.5rem;
    border-radius:100%;
    position:absolute;
    top:0;
    right:-1%;
    border:0.09rem solid black;
    background-color:white;
    animation: delayed-slide 1s ease-out forwards;
    transform:translateY(3000%);
    opacity:0;
    transition: 0.5s;
    animation-delay:3s;
} */
@keyframes grow-in {
    to {
        transform:scaleY(1);
        transform-origin:bottom;
        opacity:1;
    }
}

/*********************/
@media (max-width:1144px) {
    .flagpole-wrapper {
        display:grid;
        grid-template-columns:1fr 1fr;
    }
    .flag-card:nth-child(3) {
        place-self:center;
        grid-column:span 2;
        width:50%;
    }
}
@media (max-width:949px) {
    .flagpole-wrapper {
        grid-template-columns:1fr;
    }
    .flag-card:nth-child(3) {
        place-self:center;
        grid-column:1;
        width:100%;
    }
    .flag-card::before {
        left:-0.5%;
    
    }
}
@media (max-width:700px) {
    .flagpole-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:500px) {
    .flagpole-wrapper {
        padding-inline:2rem;
    }
    .flag-card {
        padding-right:0;
    }
    .flag-card::before {
        left:-1%;
    
    }
}
@media (max-width:397px) {
    .flag-card {
        padding-left:1rem;
    }
    .flag-card::before {
        left:-2%;
    }
}

/***************************/
.why-us {
    width:100%;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:6rem;
    padding-block:3rem;
    padding-inline:8rem;
}
.why-us > * {
    overflow-x:visible;
}

.why-us img {
    width:50px;
}
.why-us h2 {
    width:60%;
    font-size:2rem;
}
.why-us-titles {
    display:flex;
    justify-content: center;
    align-items: center;;
    flex-direction: column;
}
.why-us-cards {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:left;
    width:100%;
    gap:4rem;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    padding:2rem;
    display:flex;
    flex-direction: column;
    gap:1rem;
    line-height:2;
    justify-content: center;
    align-items: flex-start;
    height:22rem;
    width:max(30vw, 22rem);
    max-width:25rem;
}
.why {
    position:absolute;
    font-size:300px;
    font-weight:900;
    opacity:0.05;
    width:110%;
    left:50%;
    transform:translate(-50%)
}
.wrapper-test {
    position:relative;
}
.portfolio {
    position:absolute;
    font-size:200px;
    font-weight:900;
    top:5%;
    opacity:0.045;
}

@media (max-width:1389px) {
    .why-us-cards {
        display:grid;
        grid-template-columns: 1fr 1fr;
        place-items:center;
        gap:6rem;
    }
    .card:nth-child(3) {
        grid-column: 1 / span 2;
    }
    .card:nth-child(1) {
        place-self:start;
    }
    .card:nth-child(2) {
        place-self:end;
    }
   
}
@media (max-width:1023px) {
    .why-us-cards {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap:5rem;
        
    }
    .why-us {
        justify-content:flex-start;
        padding-top:5rem;
        
    }
    .why-us h2 {
        font-size:1.5rem;
        /* margin-bottom:6rem; */
    }
    .card {
        place-self:center !important;
    }
    
}
@media (max-width:518px) {
    .card h3 {
        font-size:1rem;
    }
    .card p {
        font-size:0.75rem;
    }
    .card {
        width:17rem;
        height:18rem;
    }
    .card img {
        width:35px;
    }
    .why-us h2 {
        font-size:1.25rem;
        width:120%;
    }
    .why-us-titles {
        width:120%;
    }
}
@media (max-width:340px) {
    .card {
        width:15rem;
        height:22rem;
        padding-top:3rem;
        padding-bottom:3rem;
    }
    .card h3 {
        font-size:0.9rem;
    }
    .card img {
        width:30px;
    }
    .why-us h2 {
        width:90vw;
    }
    .why-us-titles p:nth-of-type(1) {
        width:100vw;
    }
    .why-us {
        width:100%;
    }
}
/**************************/

/*************************/
.hero-section {
    z-index:10;
}
.services-background {
    position:absolute;
    width:100%;
    height:170%;
    object-fit:cover;
    inset:0;
    z-index:-1;
    -webkit-mask-image:linear-gradient(black, transparent 50%);
    mask-image:linear-gradient(black, transparent 50%);
}
.portfolio-titles {
    position:relative;
}
.portfolio-section {
    overflow:visible;
}
.portfolio-wrapper {
    position:relative;

}
.portfolio-section .big {
    top:2%;
    left:5%;
    font-size:125px;
    opacity:0.05;
}


/*************************/

.services-section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.services-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:4rem;
    position:relative; 
}
.services-left img {
    width:max(100%, 35rem);
    object-fit:cover;
    transform:translateX(-100%);
    opacity:0;
}
.services-left {
    width:50%;
}
.services-right {
    width:50%;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:4rem;
   
}
.services-list {
    display:flex;
    flex-direction:column;
    gap:2rem;
}

.services-titles {
    display:flex;
    flex-direction: column;
    gap:1.5rem;
}
.services-titles p {
    font-weight:200;
    transform:translateY(100%);
    opacity:0;

}
.list {
    display:flex;
    align-items: center;
    gap:1rem;
    transform:translateY(100%);
    opacity:0;
}
.services-right h2 {
    font-size:2.5rem;
    transform:translateY(100%);
    opacity:0;
}
.list p {
    font-size:1.1rem;
    font-weight:300;
}
.services-wrapper button {
    padding:.5rem 1rem;
    background-color:var(--new-green);
    transform:translateY(100%);
    opacity:0;
}
.services-wrapper .cross {
    right:10%;
    top:5%;
}
.services-wrapper .crossed {
    left:2%;
    bottom:10%;
}
.services-wrapper .hollow {
    right:5%;
    top:0;
}

@media (max-width:1191px) {
    .services-wrapper {
        flex-direction:column;
    }
    .services-left,
    .services-right {
        width:100%;
    }
    .services-left img {
        width:100%;
    }
}
@media (max-width:700px) {
    .services-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:500px) {
    .services-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:393px) {
    .services-wrapper h2 {
        font-size:2rem;
    }
    .services-wrapper p {
        font-size:0.9rem;
    }
}
@media (max-width:337px) {
    .services-wrapper {
        padding-inline:1rem;
    }
}


/*********************/
.price-one,
.price-two,
.price-three {
    border:0.5px solid gray !important;
    min-height:30rem;
    width:100%;
    max-width:24rem;
    gap:1rem;
    border-top:5px solid var(--new-green) !important;
    
}
.pricing-section {
    padding-inline:6rem;
    width:100%;
    max-width:1440px;
    display:flex;
    flex-direction:column;
    gap:4rem;
    align-items: flex-start;
    justify-content: center;
    padding-bottom:8rem;
    position:relative;
    padding-top:6rem;

}
.pricing-section .big {
    left:6rem !important;
    top:-2% !important;
    opacity:0.05;
    font-size:200px;
}
.pricing-titles {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:1rem;
}
.pricing-titles p {
    width:75%;
    line-height:2;
    font-weight:300;
}
.pricing-section h3 {
    font-size:2.5rem;
}
.pricing-section > * {
    overflow:hidden;
}
.pricing-grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    width:100%;
    place-items:center;
    gap:4rem;
    max-width:100rem;
}
.tick-container {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    
}
.tick {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
    
}
.tick p {
    font-size:0.8rem !important;
}
.price-one,
.price-two,
.price-three {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding:2rem;
}
.price-one h3,
.price-two h3,
.price-three h3 {
    font-size:3rem;
} 
.price-one button,
.price-two button,
.price-three button {
    font-size:1rem;
    padding-block:0.4rem;
    padding-inline:1rem;
    font-weight:600;
    background-color:var(--new-green);
    border:none;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
} 
.price-one a,
.price-two a,
.price-three a {
    color:black;
    text-decoration:none;
} 

.price-one button img,
.price-two button img,
.price-three button img {
    width:25px;

}
.price-one p:nth-of-type(1),
.price-two p:nth-of-type(1),
.price-three p:nth-of-type(1) {
    font-size:1.5rem;
    
} 
.price-one p:nth-of-type(2),
.price-two p:nth-of-type(2),
.price-three p:nth-of-type(2) {
    font-weight:200;

} 
.tick-container ul {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tick {
    /* align-self:center; */
    gap:2rem;
}
.tick-container ul li {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    
}
.big {
    font-size:300px;
    position:absolute;
    inset:0;
    font-weight:900;
    opacity:0.1;
}
.pricing-section > * {
    overflow-x:visible !important;
}
.pricing-grid > * {
    overflow-x:visible !important;
}
.tick-container > * {
    overflow-x:visible !important;
}
.tick-container ul li {
    overflow-x:visible !important
}
.tick-container ul {
    overflow-x:visible !important;
}
.tick-container img {
    overflow-x:visible !important;
    width:25px;
}

footer > * {
    overflow-x:hidden !important
}


.what-we-do-left > *,
.what-we-do-right > * {
    overflow:hidden;
}

.contact > * {
    overflow:hidden !important;
    
    
}








@media (max-width:1077px) {
    .pricing-grid {
        grid-template-columns:1fr;
        padding-inline:0;
    }
    .price-one,
    .price-two,
    .price-three {
        width:100% !important;
        max-width:1440px;
    }
    .price-one button,
    .price-two button,
    .price-three button {
       padding-inline:4rem;
    }
    .tick-container {
        margin-top:2rem;
    }
    .tick-container p {
        font-size:1rem !important;
    }
}
@media (max-width:590px) {
    .tick-container p {
        font-size:0.8rem !important;
    }
    .price-one button,
    .price-two button,
    .price-three button {
       font-size:0.8rem;
    }
}
@media (max-width:528px) {
    .price-one button img,
    .price-two button img,
    .price-three button img {
       display:none;
    }
    .price-one button,
    .price-two button,
    .price-three button {
       display:block;
       padding-inline:1rem;
    }
}
@media (max-width:500px) {
    .pricing-section {
        padding-inline:2rem;
    }
    .price-one button,
    .price-two button,
    .price-three button {
       display:block;
       padding-inline:4rem;
    }

}
@media (max-width:454px) {
    .pricing-titles p {
        font-size:0.85rem;
        width:100%;
    }
}
@media (max-width:359px) {
    .price-one button,
    .price-two button,
    .price-three button {
       display:block;
       padding-inline:2rem;
    }
}
@media (max-width:321px) {
    .tick {
        gap:1rem !important;
    }
}
@media (max-width:305px) {
    .price-one button,
    .price-two button,
    .price-three button {
       display:block;
       padding-inline:1rem;
    }
    .price-one,
    .price-two,
    .price-three {
       padding-inline:1rem;
    }
}







/***********************/
.form-wrapper {
    display:flex;
    align-items: center;
    width:100% !important;
    justify-content: space-between;
   
    
}
.right-form img {
    width:100%;
    object-fit:cover;
    height:100% !important;
}
.right-form {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
}
.bigContact {
    color:white;
    z-index:-10;
    top:15%;
    /* display:none; */
}
.right-form img {
    -webkit-mask-image: linear-gradient(black, transparent 75%);
    mask-image: linear-gradient(black, transparent 75%);
    
    z-index:10000;

}
form {
    display:flex;
    flex-direction:column;
    gap:1rem;
    align-items: flex-start;
    justify-content: flex-start;
    width:40%;
    margin-top:2rem;
    color:white;

}
.contact-titles {
    padding-block:1rem;
    font-size:1.5rem;
}


form button {
    padding:0.5rem 1rem;
    align-self:flex-end;
    background-color:var(--new-green);
    border:none;
    display:flex;
    align-items: center;
    gap:0.5rem;
}
form button:hover {
    color:var(--new-green);
}
form button img {
    width:20px;
}
.green {
    color:var(--new-green)
}
form input {
    width:100%;
    padding:0.5rem;
    border:1px solid black;
}
fieldset {
    display:flex;
    flex-direction:column;
    color:white;
    width:100%;
    gap:0.5rem;
    border:none;
}
.contact-wrapper {
    display:flex !important;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    position:relative;
    overflow:hidden;
    max-height:45rem;
    max-width:1440px;
    padding-left:6rem;
    overflow:hidden;
   
}
.contact {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    background-color:var(--blue);
}
.contact-wrapper {
    width:100%;
    max-width:1440px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    
    overflow:hidden;
    padding-left:6rem;


}




@media (max-width:1048px) {
    .right-form {
        position:absolute;
        width:100%;
        
    }
   
    .contact-wrapper {
        height:100%;
        padding-top:0rem;
        padding-left:0;
    }
    .form-wrapper{
        position:relative !important;
        padding:0;
        
    }
    input {
        padding:0.25rem !important;
    }
    
    form {
        z-index:1000000000;
        padding-right:0;
        width:100%;
        gap:0.5rem;
        padding:10rem;
        padding-top:6rem;
        align-self:center;
        
    }
    
}
@media (max-width:758px) {
    .contact h2 {
        font-size:2rem !important;
    }
}
@media (max-width:724px) {
    .contact h2 {
        font-size:1.75rem !important;
    }
}
@media (max-width:642px) {
    .contact-wrapper {
        padding-top:0rem !important;
        
    }
    .right-form img {
        -webkit-mask-image:linear-gradient(black, transparent 50%);
        mask-image:linear-gradient(black, transparent 50%)

    }
    form {
        padding:8rem;
        padding-inline:3rem !important;
    }
    .contact h2 {
        font-size:2.25rem !important;
    }
}
@media (max-width:536px) {
    .right-form img {
        -webkit-mask-image:linear-gradient(black, transparent 30%);
        mask-image:linear-gradient(black, transparent 30%)

    }
    .contact-titles h2 {
        font-size:1.75rem !important;
    }
}
@media (max-width:492px) {
    
    form {
        padding-bottom:10rem;
        padding-top:6rem;
    }
    .right-form {
        top:0%;
    }
}
@media (max-width:387px) {
    .contact-wrapper {
        padding-inline:0rem !important;
    }
    form {
       padding-inline:1rem !important;
    }
}
@media (max-width:319px) {
    .contact button {
        width:100%;
        align-items: center;
        justify-content: center;
    }
}

/**********************/
footer {
    display:flex;
    flex-direction:column;
    width:100%;
    align-items: center;
    justify-content: center;
}
.footer-top{
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    width:100%;
    gap:2rem;
    padding-inline:6rem;
    padding-bottom:4rem;
    padding-top:10rem;
    max-width:1440px;;
    border-bottom:0.5px solid black;
}
.footer-bottom {
    padding:6rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:0.75rem;
    max-width:1440px;
    width:100%;
    text-align:center;

}
.footer-left {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:2rem;
}
.footer-left p {
    font-weight:300;
}
.bold {
    font-weight:bold !important;
}
.logo {
    width:75px;
}
.address {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:0.5rem;
}
.footer-contact {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:0.5rem;
}
.footer-icons {
    display:flex;
    align-items: center;
    gap:2rem;
}

footer img {
    width:30px;
}
.footer-right {
    display:flex;
    align-items: flex-start;
    gap:4rem;
    height:100% ;
}
.footer-right-left ul,
.footer-right-right ul {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-end;
    gap:2rem;
    font-size:0.8rem;
    font-weight:300;
}
.footer-bottom p {
    font-weight:200;
}
@media (max-width:706px) {
    .footer-top {
        flex-direction:column;
        align-items: center;
        padding-inline:0 !important;
        
    }
    .footer-top {
        gap:5rem;
    }
    .footer-left {
        text-align:center;
        align-items:center;
    }
    .address {
        text-align:center;
        align-items: center;
    }
    .address p {
        text-align:center !important;
        
    }
    .footer-contact {
        text-align:center;
        align-items:center;
    }
    .footer-right {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .footer-right ul {
        align-items:center;
    }
    
}
@media (max-width:512px) {
    .footer-bottom p {
        text-align:center;
    }
    .footer-bottom {
        gap:2rem;
        padding-inline:1rem;
    }
}



/*****************/
.pricing-section > * {
    overflow:hidden;
}
.tick-container > * {
    overflow:hidden;
}
.tick-container {
    width:100%;
    gap:1rem;
    
    
}
.tick-container img {
    width:40px;
    
}




/****** Hover Interactions *******/
button {
    transition:0.5s;
    font-weight:700 !important;
}
button:hover {
    background-color:#93e8bc;
    cursor:pointer;
    font-weight:700;
    transition:0.5s;
}
.hero-section button {
    font-weight:700;
    transition:0.5s;
}
.hero-section button:hover {
    cursor:pointer;
    background-color:#93e8bc;
}

/******************************/
.header-add {
    background-color:rgba(255, 255, 255, 0.9);
    color:black;
}
.nav-add {
    color:black !important;
    font-weight:700;
}

.drop-down-add {
    background-color:#122e49c6 !important;
    color:white;
}

/*****************************/





/************************/

nav ul li {
    cursor:pointer;
}
.drop-down ul li {
    cursor:pointer;
}
.scrolling {
    color:var(--new-green) !important;
}

/**********************/
.foot {
    display:none;
}
@media (max-width:837px){
   
    .foot {
    display:block;
    color:white;
    position:fixed;
    top:91%;
    width:100vw;
    background-color:var(--blue);
    font-weight:bold;
    
}
.foot ul {
    display:flex;
    padding:1.25rem;
    justify-content: space-evenly;
    
}
}

.foot li {
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
}
.foot button {
    padding-block:0.5rem;
    width:6rem;
    background-color:var(--new-green);
    font-weight:700;
    border:none;
    border-radius:1rem;
    color:black;
    font-size:1rem;
}

/***************************/


.what-we-do-left button {
    display:flex;
    align-items: center;
    padding:0.5rem 1rem;
    gap:0.5rem;
    background-color:var(--new-green);
    border:2px solid var(--new-green)
}

.appear {
    display:none;
}


/***************************/
.big {
    top:6% !important;
    left:6rem !important;
}
.grid-item img {
 width:100%;
}
.grid-item > p {
    font-weight:200;
    margin-top:0.5rem;
}
.grid-item {
    transition:0.5s;
}

.grid-item-image {
    position:relative !important;

}
.overlay {
    position:absolute;
    width:100%;
    background-color:rgba(0, 0, 0, 0.6);
    height:100%;
    transition:0.5s;
    cursor:pointer;
    transform:scaleY(0);
    transform-origin:bottom;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap:1rem;
    color:white;
    padding:1rem;
    text-align:center;
    gap:2rem;

}
.overlay p {
    font-size:2.5rem;
    font-weight:700;
}
.overlay button {
    border:2px solid var(--new-green);
    transition:0.5s;
    background-color:var(--new-green);
    color:black;
    padding:0.5rem 1rem;
}
.overlay-buttons {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
}

.button {
    background-color:transparent !important;
    color:var(--new-green) !important;
}


.overlay button:hover {
    color:var(--new-green);
}

.grid-item:hover {
    transition:0.5s;
    cursor:pointer;

}
.grid-item:hover .overlay {
    transform:scaleY(1);

}


@media (max-width:1147px) {
    .overlay p {
        font-size:1.75rem;
    }
}
@media (max-width:799px) {
    .overlay button {
        padding:0.25rem 0.5rem;
        font-size:0.9rem;
    }
    .overlay {
        padding:1rem;
    }
}
@media (max-width:670px) {
    .overlay-buttons {
        flex-direction:column;
    }
    .overlay-buttons button {
        width:100% !important;
    }
    .overlay-buttons a {
        width:100%;
    }
}
@media (max-width:576px) {
    .overlay-buttons {
        flex-direction:row;
        width:100%;
    }
    .overlay-buttons button {
        padding:0.5rem 1rem;
    }
    .overlay p {
        font-size:3rem !important;
    }
    
}
@media (max-width:438px) {
    .overlay-buttons {
        flex-direction:column;

    }
    .overlay {
        gap:0.5rem;
    }
    .overlay p {
        font-size:1.5rem !important;
    }
}




.portfolio-titles {
    display:flex;
    flex-direction:column;
}
.portfolio-titles h2 {
    font-size:3rem;
}
.portfolio-titles p {
    font-weight:200;
}
.portfolio-titles p:nth-of-type(2) {
    margin-top:2rem;
    width:75%;
    line-height:1.75;
    font-weight:200;
}
.portfolio-section {
    overflow:visible !important;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;

}
.portfolio-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    flex-direction:column;
    gap:6rem;
    padding:6rem;

    padding-block:10rem;
}

.grid-item {
    overflow:visible !important;

}
.portfolio-grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:1rem;
    overflow:visible !important;
    row-gap:6rem;
}
@media (max-width:1212px) {
    .portfolio-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:1110px) {
    .portfolio-titles > p {
        width:100% !important;
    }
}
@media (max-width:867px) {
    .portfolio-wrapper {
        padding-inline:4rem;
    }
    .portfolio-grid {
        row-gap:2rem;
    }
}
@media (max-width:783px) {
    .portfolio-titles h2 {
        font-size:2rem;
    }
}
@media (max-width:648px) {
    .portfolio-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:567px) {
    .portfolio-grid {
    grid-template-columns:1fr;    
}
}
@media (max-width:363px) {
    .portfolio-wrapper {
        padding-inline:1rem;
    }
}
/***************************/


/*******************/
.testimonial-section img {
    width:20px;
}
.testimonial-section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.testimonial-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4rem;
    position:relative;
}
.testimonial-wrapper .big {
    left:6rem !important;
    top:-2% !important;
    font-size:200px;
    opacity:0.05;
}
.testimonial-titles {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:1rem;
    
}
.testimonial-title h2 {
    font-size:2.5rem;
}
.testimonial-title {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
}
.testimonial-titles p {
    font-weight:300;
}
.testimonial-cards {
    display:flex;
    gap:2rem;
}
.testimonial-card {
    border:0.5px solid black;
    padding:2rem;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:1rem;
}
.testimonial-card p {
    line-height:1.75;

}
.stars {
    display:flex;
    gap:0.5rem;
    align-items: center;
}
.testimonial-card-bottom {
    display:flex;
    align-items: center;
    gap:2rem;
}
.testimonial-card-bottom img {
    height:3rem;
    width:3rem;
}
.profile {
    display:flex;
    flex-direction:column;
}
.profile p:nth-of-type(1){
    font-weight:600;
}
.profile p:nth-of-type(2){
    font-weight:300;
}

@media (max-width:1113px) {
    .testimonial-cards {
        display:grid;
        grid-template-columns:1fr 1fr;
    }
    .testimonial-card:nth-child(3) {
        grid-column:span 2;
        width:50%;
        place-self:center;
    }
}
@media (max-width:821px) {
    .testimonial-cards {
        grid-template-columns:1fr;
    }
    .testimonial-card:nth-child(3) {
        grid-column:1;
        width:100%;
        place-self:center;
    }
}
@media (max-width:700px) {
    .testimonial-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:500px) {
    .testimonial-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:471px) {
    .testimonial-wrapper h2 {
        font-size:2rem;
    }
    .testimonial-wrapper p {
        font-size:0.9rem;
    }
}
@media (max-width:357px) {
    .testimonial-wrapper {
        padding-inline:1rem;
    }
    .stars img {
        width:15px;
    }
}







/************************/



.big,
.bigOne {
    pointer-events:none;
    overflow:hidden;
}


.our-work-drop,
.web-design-drop,
.pricing-drop {
    cursor:pointer;
}

.our-work-drop {
    position:relative;
    z-index:10000;
    
}
.our-work-menu,
.web-design-menu,
.pricing-menu {
    cursor:auto;
}
.our-work-menu p,
.web-design-menu p,
.pricing-menu p {
    cursor:auto;
}
.cursor {
    cursor:pointer !important;
}
.our-work-menu {
    position:absolute;
    inset:0;
    width:max-content;
    height:25rem;

}
.our-work-menu {
    display:flex;
    flex-direction:column;
    z-index:1000;
    align-items: flex-start;
    justify-content: center;
    gap:2rem;
    background-color:var(--blue);
    padding:2rem;
    font-weight:700;
    color:white;
    font-size:1rem;
    top:150%;
    left:-15%;
    transform:translateY(-10%);
    opacity:0;
    transition:0.5s;
    padding-inline:2rem;

}
.add-to-drop {
    transform:translateY(0%) !important;
    opacity:1 !important;
    transition:0.5s;
}
.web-design-drop {
    position:relative;
    z-index:1000000;
    
}
.web-design-menu {
    position:absolute;
    inset:0;
    width:max-content;
    height:20rem;

}
.web-design-menu {
    display:flex;
    flex-direction:column;
    z-index:1000;
    align-items: flex-start;
    justify-content: center;
    gap:2rem;
    background-color:var(--blue);
    font-weight:700;
    font-size:1rem;
    top:150%;
    left:25%;
    transform:translateY(-10%);
    opacity:0;
    color:white;
    transition:0.5s;
    padding-inline:2rem;
    

}
.add-to-drop {
    transform:translateY(0%) !important;
    opacity:1 !important;
    transition:0.5s;
}



.pricing-drop {
    position:relative;
    z-index:1000000;
    
}
.pricing-menu {
    position:absolute;
    inset:0;
    width:max-content;
    height:20rem;
}
.pricing-menu {
    display:flex;
    flex-direction:column;
    z-index:1000;
    align-items: flex-start;
    justify-content: center;
    gap:2rem;
    color:white;
    background-color:var(--blue);
    font-weight:700;
    font-size:1rem;
    top:150%;
    left:40%;
    transform:translateY(-10%);
    opacity:0;
    transition:0.5s;
    padding-inline:2rem;

}


.drop-down-our-work-burger,
.drop-down-web-design-burger,
.drop-down-pricing-burger {
    cursor:auto;
}
.drop-down-our-work-burger p,
.drop-down-web-design-burger p,
.drop-down-pricing-burger p {
    cursor:pointer;
}


.pricing-menu,
.web-design-menu,
.our-work-menu {
    pointer-events:none;
}
.add-to-drop {
    transform:translateY(0%) !important;
    opacity:1 !important;
    transition:0.5s;
    pointer-events:all;
}


.our-work-menu p {
    font-weight:300;
}
.web-design-menu a {
    color:white;
    font-size:1.5rem;
    font-weight:bold !important;
}
.web-design-menu p {
    font-weight:300;
}
.pricing-menu a {
    color:white;
    font-size:1.25rem;
    font-weight:bold !important;
}
.pricing-menu p {
    font-weight:300;
}
.our-work-menu a {
    color:white;
    font-size:1.25rem;
    font-weight:700 !important;
}
.our-work-menu a p,
.pricing-menu a p,
.web-design-menu a p {
    color:white;
    font-size:1.25rem;
    font-weight:700 !important;
}

button {
    border:2px solid var(--new-green) !important;
    transition:0.5s !important;
}
button:hover {
    background-color:transparent !important;
    transition:0.5s;
    cursor:pointer !important;
} 
.rated {
    pointer-events:none;
}

.logo-footer {
    width:225px !important;
}
.header-wrapper a p {
    font-weight:300;
}
footer a {
    text-decoration:none;
    color:black;
}
/***********************/
.clip-path-test {
    height:10rem;
    width:10rem;
    background-color:var(--new-green);
    position: absolute;
    clip-path: circle(17.5% at 50% 50%);
    left:78%;
    top:35%;
}

.clip-path-test ul {
    display:flex;
    flex-direction:column;
    gap:1rem;
    padding:2rem;
}
.big {
    top:10% !important;
}
.testimonial-wrapper .big {
    top:8% !important;
    font-size:150px;
}
.pricing-section .big {
    top:4% !important;
    font-size:150px;
}
p,
a,
li,
label {
    font-family: 'Roboto', sans-serif !important;
}
button,
a {
    font-family: 'Roboto', sans-serif !important;
}
.bigContact {
    font-size:120px;
}

/*********** Texture ************/

.portfolio-wrapper .hollow {
    left:0;
}
.portfolio-wrapper .hollowed {
    bottom:0;
}

.portfolio-wrapper .crossed {
    bottom:7%;

}
.testimonial-wrapper .hollow {
    left:0;
}
.testimonial-wrapper .hollowed {
    bottom:0;
}

.testimonial-wrapper .crossed {
    bottom:7%;

}
.pricing-section .hollow {
    left:0;
}
.pricing-section .hollowed {
    bottom:50%;
    right:0 !important;
}

.pricing-section .crossed {
    bottom:7%;

}
.pricing-section .cross {
    top:10%;

}
/*******************/
.scrollPortfolio {
    transform:translateX(-100%)
}
.ourWorkScroll {
    transform:translateY(100%);
    opacity:0;
}
.first-item {
    transform:translateX(-100%);
    opacity:0;
}
.grid-item-one {
    transform:translateX(100%);
    opacity:0;
}
.scrollTestimonial {
    transform:translateX(-100%);
    opacity:0;
}
.titleScroll {
    transform:translateY(100%);
    opacity:0;
}
.testimonial-card {
    transform:translateX(100%);
    opacity:0;
}
.stars img {
    transform:translateX(-100%);
    opacity:0;
}
.testimonial-card > p {
    transform:translateY(100%);
    opacity:0;
}
.testimonial-card-bottom > img {
    transform:scaleY(0);
    opacity:0;
}
.profile p {
    transform:scaleY(0);
    transform-origin:bottom;
    opacity:0;
}
.scrollPrice {
    transform:translateX(-100%);
    opacity:0;
}
.priceTitle {
    transform:translateY(100%);
    opacity:0;
}
.priceCard {
    transform:scaleY(0.1);
    opacity:0;
}

.contact {
    transform:scaleX(1%);
    opacity:0;
    transform-origin:left;
}
form {
    transform:scaleY(1%);
    transform-origin:bottom;
    opacity:0;
}
footer p,
footer img,
footer ul a li {
    transform:translateX(100%);
    opacity:0;
}