:root {
    --dark-purple:#AB88FF;
    --light-purple:#D8C8FF;
    --green:#C2F557;
    --blue:#0A2640;
    --new-green:#65E4A3;
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden;
    scroll-behavior:smooth;
}

/*************************
Safari button reset
*************************/
button {
    color:black;
}
/************************/
body {
    width:100vw;
    background-color:white;
    color:black;
    
}

main {
    width:100vw;
    color:black;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
    gap:5rem;
}
/*****************************/
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width:100vw;
    padding-inline:4rem;
    padding-top:1rem;
    background-color:rgba(10, 38, 64, 0.8);
    z-index:200;
    max-width:140rem;
    background-color:transparent;
}
.logo-container img {
    width:50px;
}
nav {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    align-self:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -10%);

}
nav ul {
    display:flex;
    list-style:none;
    justify-content: space-evenly;
    width:40rem;
}
nav ul li a {
    text-decoration: none;
    color:black;
    color:white !important;

}
nav ul li {
    text-decoration: none;
    color:white !important;

}
.nav-button-container button {
    padding:0.3rem 1.5rem;
    background-color:#4FE9A4;
    border:none;
    color:black;
    font-size:1rem;
    display:flex;
    align-items: center;
    gap:0.5rem;
}
.nav-button-container button img {
    width:25px;
}
/*********************/
.hero-section {
    width:100vw;
    display:flex;
    gap:1.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top:11rem;
    padding-inline:4rem;
    background-color:#0A2640;
    padding-bottom:10rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    max-width:140rem;
    overflow:hidden;
}
.hero-section > * {
    overflow-x:hidden !important;
}

.hero-wrapper {
    width:80vw;
}
.hero-wrapper h1 {
    font-size:3.5rem;
    text-align:center;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
}

.hero-button-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    z-index:1000;
}
.hero-wrapper h1:nth-of-type(2) {
    display:none;
}
.hero-button-wrapper button {
    padding-inline:1.5rem;
    padding-block:0.5rem;
    font-size:max(1rem);
    color:black;
    background-color:#4FE9A4;;
    font-weight:500;
    border:none;
    display:flex;
    align-items: center;
    gap:0.5rem;
}
.hero-button-wrapper button img {
    width:25px;
}
.hero-button-wrapper p {
    width:65%;
    font-size:max(1rem);
    color:white;
    font-weight:200;
}
.hero-wrapper h1 span:last-of-type > img {
    width:max(2.5rem, 3vw);
}
.hero-section {
    position:relative;
}
.hero-section h1 {
    z-index:3;
    position:relative;
   
}
.hero-wrapper {
    width:75%;
    
}
.hero-section > img:nth-child(2) {
    width:30px;
    position:absolute;
    left:10%;
    top:18%;
    z-index:1;
}
.hero-section > img:nth-child(3) {
    width:25px;
    position:absolute;
    right:15%;
    bottom:15%;
    z-index:1;
}

/*************************/
.hero-image-wrapper img {
    width:max(80vw, 600px);
    margin-top:2rem;
    background-color:inherit;
    position:absolute;
    top:120%;
    left:50%;
    transform:translate(-50%, -50%);
    max-width:55rem;
    
}
.hero-section h1 {
    font-weight:900;
}
.hero-section > * {
    overflow-x:visible;
}
.background {
    position:absolute !important;
    width:100%;
    min-width:100rem !important;
    inset:0;
    top:-50%;
    -webkit-mask-image:linear-gradient(black, transparent 80%);
    mask-image:linear-gradient(black, transparent 80%);
}
/**********************/
@media (max-width:704px) {
    .hero-wrapper h1:last-of-type {
        display:block;
    }
    .hero-wrapper h1:first-child {
        display:none;
    }
    .hero-button-wrapper p {
        width:60%;
        text-align:center;
    }
    .hero-button-wrapper {
        flex-direction: column-reverse;

    }
    .hero-section {
        max-height:50rem;
    }
    .hero-wrapper h1 {
        width:100%;
        
    }
  
}
@media (max-width:835px) {
    nav {
        display:none;
    }
    header button {
        display:none !important;
    }
    .menu {
        display:block;
    }
}

@media (max-width:619px) {
    .hero-image-wrapper img {
        width:90vw;
        
    }
    .hero-section {
        padding-inline:0;
    }
    .hero-section h1 {
        font-size:2.15rem;
    }
}
@media (max-width:370px) {
    .hero-section {
        padding-inline:0;
    }
    .hero-wrapper h1 {
        /* font-size:1.5rem; */
        /* width:100%; */
    }
}
@media (max-width:350px) {
    .hero-section h1 {
        font-size:1.8rem;
    }
}
/****************************/

@media (max-width:1328px) {
    .hero-section h1 {
        font-size:3rem;
    }
}
@media (max-width:1150px) {
    .hero-section h1 {
        font-size:2.6rem;
    }
    .hero-button-wrapper button {
        font-size:0.9rem;
    }
    .hero-button-wrapper {
        flex-direction: column-reverse;
        text-align:center;
        align-items: center;
        justify-content: center;
        width:80%;
    }
}

@media (max-width:1030px) {
    .hero-section h1 {
        font-size:2.3rem;
        
        
    }
    .hero-button-wrapper p {
        font-size:0.9rem;
    }
    .hero-button-wrapper button {
        font-size:0.8rem;
    }
}
@media (max-width:934px) {
    .hero-section h1 {
        font-size:2.1rem;
        
        
    }
    .hero-button-wrapper p {
        font-size:0.8rem;
    }
    .hero-button-wrapper button {
        font-size:0.8rem;
    }
}
@media (max-width:852px) {
    .hero-section h1 {
        font-size:1.8rem;
        
        
    }
}
@media (max-width:546px) {
    .hero-section h1 {
        font-size:1.75rem;
        
        
    }
    .hero-button-wrapper p {
        font-size:0.7rem;
    }
}

/***************************/
.why-us {
    width:100vw;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:6rem;
    padding-block:3rem;
    padding-inline:8rem;
}
.why-us > * {
    overflow-x:visible;
}

.why-us img {
    width:50px;
}
.why-us h2 {
    width:60%;
    font-size:2rem;
}
.why-us-titles {
    display:flex;
    justify-content: center;
    align-items: center;;
    flex-direction: column;
}
.why-us-cards {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:left;
    width:100%;
    gap:4rem;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    padding:2rem;
    display:flex;
    flex-direction: column;
    gap:1rem;
    line-height:2;
    justify-content: center;
    align-items: flex-start;
    height:22rem;
    width:max(30vw, 22rem);
    max-width:25rem;
}
.why {
    position:absolute;
    font-size:300px;
    font-weight:900;
    opacity:0.05;
    width:110%;
    left:50%;
    transform:translate(-50%)
}
.wrapper-test {
    positioN:relative;
}
.portfolio {
    position:absolute;
    font-size:200px;
    font-weight:900;
    top:5%;
    opacity:0.045;
}
@media (max-width:1389px) {
    .why-us-cards {
        display:grid;
        grid-template-columns: 1fr 1fr;
        place-items:center;
        gap:6rem;
    }
    .card:nth-child(3) {
        grid-column: 1 / span 2;
    }
    .card:nth-child(1) {
        place-self:start;
    }
    .card:nth-child(2) {
        place-self:end;
    }
   
}
@media (max-width:1023px) {
    .why-us-cards {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap:5rem;
        
    }
    .why-us {
        justify-content:flex-start;
        padding-top:5rem;
        
    }
    .why-us h2 {
        font-size:1.5rem;
        /* margin-bottom:6rem; */
    }
    .card {
        place-self:center !important;
    }
    
}
@media (max-width:518px) {
    .card h3 {
        font-size:1rem;
    }
    .card p {
        font-size:0.75rem;
    }
    .card {
        width:17rem;
        height:18rem;
    }
    .card img {
        width:35px;
    }
    .why-us h2 {
        font-size:1.25rem;
        width:120%;
    }
    .why-us-titles {
        width:120%;
    }
}
@media (max-width:340px) {
    .card {
        width:15rem;
        height:22rem;
        padding-top:3rem;
        padding-bottom:3rem;
    }
    .card h3 {
        font-size:0.9rem;
    }
    .card img {
        width:30px;
    }
    .why-us h2 {
        width:90vw;
    }
    .why-us-titles p:nth-of-type(1) {
        width:100vw;
    }
    .why-us {
        width:100%;
    }
}
/**************************/
.paragraph-section {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.15rem;
    padding-inline:2rem;
    padding-bottom:6rem;
    padding-top:6rem;
    background-color: var(--blue);
    color:white;
    max-width:140rem;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    position:relative;
}

.paragraph-section > * {
    overflow-x:visible !important;
}
.statistics-container {
    width:90%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    

}
.statistics-container img {
    width:150px;
}
.leftSide-statistics {
    width:70%;
    line-height:2.25;
    border-right:1px solid white;
    min-height:12.5rem;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.rightSide-statistics {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:40%;
    padding-left:5rem;
    font-size:3rem;
    font-weight:700;
    overflow-x:visible !important;
}
.leftSide-statistics p {
    width:80%
}
.second-circle-container {
    align-self:flex-end;
}
.second-circle-container,
.first-circle-container {
    position:relative;
    overflow-x:visible !important;
}
.second-circle-container p {
    position:absolute;
    top:10%;
    left:-20%;
}
.first-circle-container p {
    position:absolute;
    top:15%;
    left:-20%;
} 
@media (max-width:1099px){
    .paragraph-section {
        margin-top:10rem;
    }
}
@media (max-width:800px) {
    .leftSide-statistics p {
        font-size:1rem;
    }
}
@media (max-width:587px) {
    .statistics-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap:2rem;
    }
    .rightSide-statistics {
        flex-direction: row;
        gap:4rem;
        padding:0;
    }
    .leftSide-statistics {
        border-right:none;
        justify-content: center;
        align-items: center;
    }
    .leftSide-statistics {
        width:100%;
        text-align:center;
        padding-right:0rem;
    }
}
@media (max-width:482px) {
    .leftSide-statistics p {
        font-size:0.75rem;
    }
}
@media (max-width:415px) {
    .leftSide-statistics p {
        font-size:0.65rem !important;
    }
}
@media (max-width:369px) {
    .leftSide-statistics p {
        width:100%;
    }
}
@media (max-width:449px) {
   
    .rightSide-statistics img {
        width:100px;
    }
    .rightSide-statistics p {
        font-size:2rem;
    }
    
    .paragraph-section {
        margin-top:4rem;
    }
}
@media (max-width:334px) {
    .rightSide-statistics {
        gap:1.5rem;
    }
    .leftSide-statistics p {
        font-size:0.75rem !important;
    }
}
@media (max-width:269px) {
    .rightSide-statistics img {
        width:80px;
    }
    .rightSide-statistics p {
        font-size:1.5rem
    }
}
/*************************/
.hero-section {
    z-index:10;
}
.services-background {
    position:absolute;
    width:100%;
    height:170%;
    object-fit:cover;
    inset:0;
    z-index:-1;
    -webkit-mask-image:linear-gradient(black, transparent 50%);
    mask-image:linear-gradient(black, transparent 50%);
    


}
.portfolio-titles {
    position:relative;
}
.portfolio-section {
    overflow:visible;
    position:relative;
}
.portfolio-section .big {
    top:2%;
    left:5%;
    font-size:125px;
    opacity:0.05;
}
.services {
    height:100%;
    width:100%;
    position:relative;
    z-index:0;
    overflow-x:visible;
    overflow-y:hidden;
    padding:4rem;
    display:flex;
    background-color:var(--blue);
    color:white;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    padding-block:8rem;
    padding-inline:8rem;

}
.services-left,
.services-right {
    width:50%;
}
.services-left p {
    font-size:0.8rem;
    
}
.services-left h2 {
    font-size:2rem;
    width:75%;
}
.services-right p {
    line-height:2;
    font-weight:200;
    font-size:0.9rem;
}
.services-right {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:2rem;
}
.services-list {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:2rem;
    
}
.services-list-first,
.services-list-second,
.services-list-third {
    display:flex;
    align-items: center;
    gap:1rem;
    

}
.services-list-first p,
.services-list-second p,
.services-list-third p {
    font-weight:bold;
    font-size:1rem;
    

}
.services-right p {
    font-weight:500;
}
.services-list-buttons {
    display:flex;
    align-items: center;
    gap:1rem;

}
.services-list-buttons button {
    padding:0.5rem 1rem;
    font-weight:600;

}
.services-list-buttons button:nth-of-type(1) {
    background-color:var(--new-green);
    color:black;
    border:2px solid var(--new-green)
}
.services-list-buttons button:nth-of-type(2) {
    background-color:transparent;
    color:var(--new-green);
    border:none;
}
/*************************/


.what-we-do-left {
    display:flex;
    flex-direction:column;
    width:100%;
    justify-content: center;
    align-items: flex-start;
    gap:2rem;
    padding-right:6rem;
    font-weight:200 !important;
}
.what-we-do-left p {
    line-height:2.2 !important;
}
.what-we-do-right {
    place-self:end;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    

}
.what-we-do-left button {
    padding-block:0.25rem !important;
}
.what-we-do-left button img {
    width:25px;
}


.what-we-do-right img {
    width:100%;
    height:40rem;
    -webkit-mask-image: linear-gradient(black, transparent 75%);
    mask-image: linear-gradient(black, transparent 75%);
}


.newSection {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-left:6rem;
    background-color:var(--blue);
    color:white;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    position:relative;
    max-width:140rem;
}
@media (max-width:958px) {
    .newSection {
        grid-template-columns:1fr;
        width:100%;

    }
    .what-we-do-right {
        position:relative;

    }
    .what-we-do-right img {
        -webkit-mask-image:linear-gradient(black, transparent 40%) !important;
        mask-image:linear-gradient(black, transparent 50%) !important;
    }
    .what-we-do-left {
        position:absolute;
        top:25%;
        padding-left:4rem;
    }
    .what-we-do-left p {
        width:75%;
        z-index:10;
        font-weight:400;
    }
}
@media (max-width:722px) {
    .what-we-do-left p {
        font-size:0.8rem;
    }

}
@media (max-width:668px) {
  
   .newSection {
    padding:0;
   }
}
@media (max-width:574px) {
    .what-we-do-left p {
        width:100%;
    }
    .what-we-do-right img {
        -webkit-mask-image:linear-gradient(black, transparent 40%) !important;
        mask-image:linear-gradient(black, transparent 40%) !important;
    }
}
@media (max-width:424px) {
    .what-we-do-left {
        padding-left:3rem;
        top:18%;
    }
}
@media (max-width:342px) {
    .what-we-do-left {
        padding-left:2.5rem;
        top:20%;
    }
}
@media (max-width:330px) {
    .what-we-do-left h2 {
        font-size:1.5rem;
    }
    .what-we-do-left p {
        font-size:0.7rem;
    }
}
.big {
    position:absolute;
    font-weight:900;
    font-size:400px;
    height:100%;
    width:100%;
    opacity:0.05;
}








/*********************/
.price-one,
.price-two,
.price-three {
    border:0.5px solid gray !important;
    height:30rem;
    width:100%;
    max-width:24rem;
    gap:1rem;
    border-top:5px solid var(--new-green) !important;
    
}
.pricing-section {
    padding-inline:6rem;
    width:100%;
    max-width:140rem;
    display:flex;
    flex-direction:column;
    gap:4rem;
    align-items: flex-start;
    justify-content: center;
    margin-bottom:8rem;

}
.pricing-titles {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:1rem;
}
.pricing-titles p {
    width:75%;
}
.pricing-section h3 {
    font-size:2rem;
}
.pricing-section > * {
    overflow:hidden;
}
.pricing-grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    width:100%;
    place-items:center;
    gap:4rem;
    max-width:100rem;
}
.tick-container {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    
}
.tick {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
    
}
.tick p {
    font-size:0.8rem !important;
}
@media (max-width:1275px) {
    .pricing-grid {
        grid-template-columns: 1fr 1fr;
        place-items:center;
    }
    .pricing-titles {
        text-align:center;
        align-items: center;
    }
    .pricing-titles p {
        width:50%;
    }
    .price-one,
    .price-two,
    .price-three {
        max-width:20rem;
    }
    .price-three {
        place-self:center;
        grid-column: 1 / span 2;
        width:50%;
        

    }
    .pricing-section {
        padding-inline:4rem;
        align-items:center !important;
        justify-content:center !important;
    }
}
.why-us {
    overflow-x:hidden;
}
@media (max-width:786px) {
    .pricing-grid {
        grid-template-columns:1fr;
    }
    .price-one {
        grid-row : 1;
        width:100%;
        place-self:center;
        grid-column:1 / span 2;
        

    }
    .price-two {
        grid-row:2;
        width:100%;
        place-self:center;
        grid-column:1 / span 2;
    }
    .price-three {
        grid-row:3;
        width:100%;
    }
}
@media (max-width:700px) {
    .pricing-titles p {
        width:100%;
    }
}

@media (max-width:344px) {
    .price-one,
    .price-two,
    .price-three {
        gap:1rem !important;
        height:23rem;
    }
    .price-one > h3,
    .price-two > h3,
    .price-three h3 {
        font-size:1.25rem !important;
    }
    .price-one > p,
    .price-two > p,
    .price-three p {
        font-size:0.8rem !important;
        
    }
    .price-one > button,
    .price-two > button,
    .price-three button {
        font-size:0.8rem !important;
        
    }
}
@media (max-width:330px) {
    .price-one button,
    .price-two button,
    .price-three button {
        font-size:0.7rem !important;
        padding-inline:0.5rem !important;
    }
    .price-one button img,
    .price-two button img,
    .price-three button img {
        width:18px !important;
    }
}
@media (max-width:316px) {
    .price-one button,
    .price-two button,
    .price-three button {
        font-size:0.6rem !important;
        width:7rem;
    }
    .price-one button img,
    .price-two button img,
    .price-three button img {
        width:16px !important;
    }
}
@media (max-width:374px) {
    .tick-container {
        gap:1rem;
    }
    .tick > p {
        font-size:0.7rem !important ;
        
    }
}







/***********************/
.form-wrapper {
    display:flex;
    align-items: center;
    width:100vw !important;
    justify-content: space-between;
    padding-left:6rem;
    
}
.right-form img {
    width:100%;
    object-fit:cover;
    height:100% !important;
}
.right-form {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
}
.bigContact {
    color:white;
    z-index:-10;
    top:15%;
    /* display:none; */
}
.right-form img {
    -webkit-mask-image: linear-gradient(black, transparent 75%);
    mask-image: linear-gradient(black, transparent 75%);
    
    z-index:10000;

}
form {
    display:flex;
    flex-direction:column;
    gap:1rem;
    align-items: flex-start;
    justify-content: flex-start;
    width:40%;
    margin-top:2rem;
    color:white;
}
.contact-titles {
    padding-block:1rem;
    font-size:1.25rem;
}


form button {
    padding:0.5rem 1rem;
    align-self:flex-end;
    background-color:var(--new-green);
    border:none;
    display:flex;
    align-items: center;
    gap:0.5rem;
}
form button img {
    width:20px;
}
.green {
    color:var(--new-green)
}
form input {
    width:100%;
    padding:0.5rem;
    border:1px solid black;
}
fieldset {
    display:flex;
    flex-direction:column;
    color:white;
    width:100%;
    gap:0.5rem;
    border:none;
}
.contact {
    display:flex !important;
    align-items: center;
    justify-content: flex-end;
    width:100vw;
    background-color:var(--blue);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    position:relative;
    overflow:hidden;
    max-height:45rem;
    max-width:140rem;
    
}



@media (max-width:1048px) {
    .right-form {
        position:absolute;
        width:100%;
        
    }
   
    .contact {
        height:100%;
        padding-top:0rem;
    }
    .form-wrapper{
        position:relative !important;
        padding:0;
        
    }
    input {
        padding:0.25rem !important;
    }
    
    form {
        z-index:1000000000;
        padding-right:0;
        width:100%;
        gap:0.5rem;
        padding:10rem;
        padding-top:6rem;
        align-self:center;
        
    }
    
}
@media (max-width:758px) {
    .contact h2 {
        font-size:1.75rem;
    }
}
@media (max-width:724px) {
    .contact h2 {
        font-size:1.5rem;
    }
}
@media (max-width:642px) {
    .contact {
        padding-top:0rem !important;
        
    }
    .right-form img {
        -webkit-mask-image:linear-gradient(black, transparent 50%);
        mask-image:linear-gradient(black, transparent 50%)

    }
    form {
        padding:8rem;
        padding-inline:3rem !important;
    }
}
@media (max-width:520px) {
    .right-form img {
        -webkit-mask-image:linear-gradient(black, transparent 20%);
        mask-image:linear-gradient(black, transparent 20%)

    }
}
@media (max-width:492px) {
    
    form {
        padding-bottom:6rem;
        padding-top:2rem;
    }
    .right-form {
        top:0%;
    }
}
@media (max-width:336px) {
    .right-form img {
        -webkit-mask-image:linear-gradient(black, transparent 20%);
        mask-image:linear-gradient(black, transparent 20%)
    }
    .contact-titles h2 {
        text-align:center;
        font-size:1.2rem !important;
    }
    
    form {
        padding:3rem;
        padding-top:1rem;
        padding-bottom:5rem;
    }
    form button {
        align-self:flex-start;
        /* width:100% !important; */
    }
}
@media (max-width:300px) {
    form button {
        width:100%;
        display:flex;
        justify-content: center;
    }
}

/**********************/
.footer {
    display:flex;
    flex-direction:column;
}
.footer-top{
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    width:100vw;
    gap:2rem;
    padding-inline:4rem;
    padding-bottom:4rem;
    max-width:140rem;
    border-bottom:0.5px solid black;
}
.footer-bottom {
    padding:4rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:0.75rem;
}
.footer-left {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:2rem;
}
.bold {
    font-weight:bold;
}
.logo {
    width:75px;
}
.address {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:0.5rem;
}
.footer-contact {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:0.5rem;
}
.footer-icons {
    display:flex;
    align-items: center;
    gap:2rem;
}

footer img {
    width:30px;
}
.footer-right {
    display:flex;
    align-items: flex-start;
    gap:4rem;
    height:100% ;
}
.footer-right-left ul,
.footer-right-right ul {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-end;
    gap:2rem;
    font-size:0.8rem;
}
@media (max-width:706px) {
    .footer-top {
        flex-direction:column;
        align-items: center;
        padding-inline:0 !important;
        
    }
    .footer-top {
        gap:5rem;
    }
    .footer-left {
        text-align:center;
        align-items:center;
    }
    .address {
        text-align:center;
        align-items: center;
    }
    .address p {
        text-align:center !important;
        
    }
    .footer-contact {
        text-align:center;
        align-items:center;
    }
    .footer-right {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .footer-right ul {
        align-items:center;
    }
    
}



/*****************/
.pricing-section > * {
    overflow:hidden;
}
.tick-container > * {
    overflow:hidden;
}
.tick-container {
    width:100%;
    gap:1rem;
    
    
}
.tick-container img {
    width:40px;
    
}
.price-one,
.price-two,
.price-three {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding:2rem;
}
.price-one h3,
.price-two h3,
.price-three h3 {
    font-size:3rem;
} 
.price-one button,
.price-two button,
.price-three button {
    font-size:1rem;
    padding-block:0.4rem;
    padding-inline:1rem;
    font-weight:600;
    background-color:var(--new-green);
    border:none;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
} 
.price-one button img,
.price-two button img,
.price-three button img {
    width:25px;

}
.price-one p:nth-of-type(1),
.price-two p:nth-of-type(1),
.price-three p:nth-of-type(1) {
    font-size:1.5rem;
} 
.tick-container ul {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:rem !important;
    justify-content: center;
}
.tick {
    align-self:center;
    gap:2rem;
}
.tick-container ul li {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    
}
.pricing-section > * {
    overflow-x:visible !important;
}
.pricing-grid > * {
    overflow-x:visible !important;
}
.tick-container > * {
    overflow-x:visible !important;
}
.tick-container ul li {
    overflow-x:visible !important
}
.tick-container ul {
    overflow-x:visible !important;
}
.tick-container img {
    overflow-x:visible !important;
}

footer > * {
    overflow-x:hidden !important
}


.what-we-do-left > *,
.what-we-do-right > * {
    overflow:hidden;
}

.contact > * {
    overflow:hidden !important;
    
    
}

@media (max-width:427px) {
    .price-one h3,
    .price-two h3,
    .price-three h3 {
        font-size:1.5rem;
    }
    .price-one p,
    .price-two p,
    .price-three p {
        font-size:0.8rem;
    } 
    .tick-container ul {
        font-size:0.8rem;
        gap:0.5rem;
    }
    
}
@media (max-width:356px) {
    .tick-container ul {
        font-size:0.7rem;
    }
    .tick img {
        display:none;
    }
}

.form-wrapper {
    width:80vw;
}



/****** Hover Interactions *******/
button {
    transition:0.5s;
    font-weight:700 !important;
}
button:hover {
    background-color:#93e8bc;
    cursor:pointer;
    font-weight:700;
    transition:0.5s;
}
.hero-section button {
    font-weight:700;
    transition:0.5s;
}
.hero-section button:hover {
    cursor:pointer;
    background-color:#93e8bc;
}

/******************************/
.header-add {
    background-color:rgba(255, 255, 255, 0.9);
    color:black;
}
.nav-add {
    color:black !important;
    font-weight:700;
}

.drop-down-add {
    background-color:#122e49c6 !important;
    color:white;
}

/*****************************/
.menu {
    width:50px;
    position:absolute;
    top:50%;
    right:5%;
    transform:translate(-50%, -40%);
    z-index:4;
    
    
}
@media (max-width:837px) {
    .menu {
        display:block;
        cursor:pointer;
        
    }
    
    header button {
        display:none;
    }
}

.drop-down {
    position:absolute;
    background-color:white;
    top:100%;
    padding:2rem;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:50%;
    right:0;
    transform:translateY(-100%);
    opacity:0;
    transition:0.5s;
    

}
.drop-down ul {
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:4rem;
    align-items:center;
    width:100%;
    text-align:center;
    font-weight:600;
}
.toggle {
    transform:translateY(0);
    opacity:1;
}
header button {
    z-index:10;
    position:relative;
}
.drop-down ul li button {
    display:block !important;
    background-color:var(--new-green);
    border:0;
    padding-block:0.5rem;
    width:5rem;
    border-radius:1rem;
}
@media (min-width:837px) {
    .drop-down {
        display:none;
    }
}


/************************/

nav ul li {
    cursor:pointer;
}
.drop-down ul li {
    cursor:pointer;
}
.scrolling {
    color:var(--new-green) !important;
}

/**********************/
.foot {
    display:none;
}
@media (max-width:837px){
   
    .foot {
    display:block;
    color:white;
    position:fixed;
    top:91%;
    width:100vw;
    background-color:var(--blue);
    font-weight:bold;
    
}
.foot ul {
    display:flex;
    padding:1.25rem;
    justify-content: space-evenly;
    
}
}
.hero-wrapper h1 span {
    color:var(--new-green);
}
.foot li {
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
}
.foot button {
    padding-block:0.5rem;
    width:6rem;
    background-color:var(--new-green);
    font-weight:700;
    border:none;
    border-radius:1rem;
    color:black;
    font-size:1rem;
}
/***************************/
.bamford {
    width:100%;
    height:40rem;
    object-fit:cover;
    position:relative;
}
.first-project {
    display:flex;
    justify-content: flex-start;
    align-items: center;
   
}
.portfolio-section {
    padding:4rem;
    display:flex;
    flex-direction: column;
    gap:8rem;
    
}
.portfolio-section h2 {
    font-size:2.5rem;
}
.bamford-information {
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
    left:12%;
}
.what-we-do-left button {
    display:flex;
    align-items: center;
    padding:0.5rem 1rem;
    gap:0.5rem;
    background-color:var(--new-green);
    border:2px solid var(--new-green)
}
.bamford-information h3 {
    font-size:2.75rem;
}
.bamford-titles-top {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.tags {
    display:flex;
    justify-content: stretch;
    gap:1rem;
    color:white;

}
.tags p {
    background-color:lightgray;
    padding:0.25rem 1rem;
    border-radius:2rem;
    font-size:0.75rem;
    background-color:var(--blue);

}
.bamford-p {
    line-height:2;
    width:45%;
    font-size:0.9rem;
}
.bamford-information button {
    padding:0.5rem 1rem;
    background-color:var(--blue);
    color:white;
    border:2px solid var(--blue);
}
/***************************/
.cms img {
    height:100%;
    width:100% !important;
    object-fit:cover;
    -webkit-mask-image:linear-gradient(black, transparent 80%);
}
.cms {
    display:flex;
    background-color:var(--blue);
    color:white;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    height:40rem;
    overflow:hidden !important;
    padding:0;
    max-width:140rem;



}
.right-cms {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    gap:1rem;
    padding:5rem;
    position:relative;
    
}
.left-cms {
    z-index:-10000;
}
.right-cms span {
    color:var(--new-green);
}
.right-cms h2 {
    font-size:2rem;
}
.right-cms p {
    line-height:2;
}
.left-cms {
    overflow:hidden !important;


}
@media (max-width:930px) {
    .left-cms {
        position:absolute;
        -webkit-mask-image:linear-gradient(black, transparent 70%);
        mask-image:linear-gradient(black, transparent 70%);
        
    }
    .right-cms {
        padding-top:15rem;
    }
    .right-cms p,
    .right-cms h3 {
        z-index:100000;
    }
}
@media (max-width:852px) {
    .right-cms {
        padding-top:10rem;
    }
}
@media (max-width:852px) {
    .right-cms {
        padding-top:8rem;
    }
}
@media (max-width:574px) {
    .right-cms {
        padding-top:5rem;
        padding-inline:2rem;
    }
    .right-cms h2 {
        font-size:1.4rem ;
    }
    .right-cms strong {
        font-size:0.8rem;
    }
    .right-cms p {
        font-size:0.9rem;
    }
}
@media (max-width:434px) {
    .left-cms {
        -webkit-mask-image:linear-gradient(black, transparent 30%) !important;
        mask-image:linear-gradient(black, transparent 30%);
        
    }
}
@media (max-width:318px) {
    .right-cms {
        padding-inline:1rem;
        
    }
}
@media (max-width:318px) {
    .right-cms p {
        font-size:0.7rem;
        
    }
}
/*******************/
.testimonials {
    width:100vw;
    max-width:140rem;
    padding:4rem;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:2rem;
    overflow:visible !important;
    position:relative;
}
.testimonial-titles {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    gap:0.5rem;
    
}
.testimonial-titles h2 {
    font-size:2rem;
}
.testimonial-titles p {
    font-size:0.85rem;
    font-weight:300;
}
.testimonial-cards {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x:visible;
    gap:4rem;
    height:38rem;
}
.test-card {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: space-evenly;
    height:36rem;
    padding-block:2rem;
    width:30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:0.5rem;
}
.date {
    padding-inline:2rem;
}
.profile-section {
    display:flex;
    align-items: center;
    gap:1rem;
    justify-content: center;
    padding-inline:2rem;
}
.profile-section img {
    width:75px;
}
.name-container {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:0.5rem;
}

.name-container h3 {
    font-size:1.5rem;
}
.name-container p {
    font-size:0.9rem;
}
.test-card > p:nth-of-type(1) {
    font-size:1.25rem;
    font-weight:500;
    line-height:1.75;
    padding-inline:2rem;
}
.test-card-img-container {
    background-color:var(--blue);
    opacity:0.9
}
.test-card-img-container img {
   width:100%;
   height:90%;
   object-fit:cover;
   -webkit-mask-image:linear-gradient(black, transparent 100%)
}
.bamfordImg {
   width:100%;
   height:90% !important;
   object-fit:cover;
}

@media (max-width:1276px) {
    .test-card p:nth-of-type(1) {
        font-size:1rem;
    }
    .test-card .profile-section p {
        font-size:0.9rem;
    }
    .dissapear {
        display:none;
    }
    .test-card h3 {
        font-size:1.25rem;
    }
}
@media (max-width:1188px) {
    .profile-section img {
        width:50px;
    }
    .profile-section p {
        font-size:0.8rem !important;
    }
    .profile-section h3 {
        font-size:1rem;

    }
}
@media (max-width:1130px) {
    .testimonials {
        gap:4rem;
    }
    .testimonial-cards {
        /* flex-direction:column; */
        height:auto;
        /* align-items:flex-start; */
        
    }
    .test-card {
        width:50% !important;
        
    }
    .test-card-para {
        display:none !important;
    }
    .test-card h3 {
        font-size:1.5rem;
    }
    .test-card p {
        font-size:1rem !important;
    }
}
@media (max-width:874px) {
    .test-card h3 {
        font-size:1.25rem;
    }
    .test-card p {
        font-size:0.9rem !important;
    }
    .test-card {
        height:auto;
        gap:2rem;
    }
}
@media (max-width:774px) {
    .test-card h3 {
        font-size:1rem;
    }
    .test-card p {
        font-size:0.7rem !important;
    }
}
@media (max-width:708px) {
    .testimonial-cards {
        flex-direction:column;
    }
    .testimonial-titles {
        text-align:center;
        align-items:center;
        
    }
    .test-card h3 {
        font-size:1.5rem;
    }
    .test-card p {
        font-size:1rem !important;
    }
    .test-card {
        width:75% !important;
    }
}
@media (max-width:560px) {
    .test-card h3 {
        font-size:1.25rem;
    }
    .test-card p {
        font-size:0.9rem !important;
    }
}
@media (max-width:560px) {
    .test-card {
        width:90% !important;
    }
    .test-card h3 {
        font-size:1rem;
    }
    .test-card p {
        font-size:0.8rem !important;
    }
}
@media (max-width:406px) {
    
    .test-card {
        width:100% !important;
    }
    .testimonial-cards {
        padding-inline:0 !important;
    }
    .testimonials {
        padding:1rem;
    }
}
@media (max-width:360px) {
    .testimonial-titles h2 {
        font-size:1.5rem;
    }
    .profile-section img {
        width:35px;
    }
}
@media (max-width:342px) {
    .profile-section {
        flex-direction:column;
        align-self:center;
    }
    .testimonial-cards > * {
        text-align:center;
    }
    .test-card h3 {
        align-self:center;
    }
}







.test-card-para {
    width:30%;
    height:57.5rem;
    background-color:var(--blue);
    color:white;
    padding:2rem;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    position:absolute;
    right:0;
    top:-20%;
    gap:1rem;
    padding-top:23rem;
    overflow-y:hidden !important;
    clip-path: polygon(50% 0%, 100% 0, 100% 95%, 0 100%, 0 0);
}
.test-card-para h4 {
    font-size:1.5rem;
    
}
.test-card-para button {
    padding:0.5rem 1rem;
    background-color:var(--new-green);
    font-weight:600;
    border:none;
}
.test-card-para p {
    line-height:2;
    font-weight:200;
}
.rated {
    position:absolute;
    font-size:300px;
    font-weight:900 !important;
    transform:rotateZ(90deg);
    border:3px solid red;
    left:-100%;
    top:50%;
    opacity:0.05;
}
