:root {
    --dark-purple:#AB88FF;
    --light-purple:#D8C8FF;
    --green:#C2F557;
    --blue:#0A2640;
    --new-green:#65E4A3;
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif !important;
    scroll-behavior:smooth;
}

/*************************
Safari button reset
*************************/
button {
    color:black;
}
/************************/
body {
    width:100%;
    background-color:white;
    color:black;
    
}
main {
    width:100%;
    color:black;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
   
}
/*****************************/
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width:100%;
    padding-inline:4rem;
    padding-block:2rem;
    background-color:white;
    z-index:2;
    color:black;
    
}
.logo-container img {
    width:200px;
}
nav {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    align-self:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

}
nav ul {
    display:flex;
    list-style:none;
    justify-content: space-evenly;
    width:40rem;
    color:black;
}
nav ul li a {
    text-decoration: none;
    color:black;
    

}
nav ul li {
    text-decoration: none;
    font-size:0.9rem !important;

}
.nav-button-container button {
    padding:0.5rem 1rem;
    background-color:#4FE9A4;
    border:none;
    color:black;
}
.menu {
    width:35px;
    display:none;
    cursor:pointer;
    z-index:1000;
    position:relative;
}
.drop-down {
    background-color:#c5c1c1;
    color:white;
    position:absolute;
    right:10%;
    bottom:-450%;
    transform:translateY(-100%);
    opacity:0;
    transition:0.5s;
    height:30rem;
    padding:6rem;
    display:none;
}
.drop-down ul {
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    height:100%;
}
.toggle {
    transform:translateY(0);
    opacity:1;
    transition:0.5s;
}

@media (max-width:1144px) {
    nav {
        display:none;
    }
    .nav-button-container {
        display:none;
    }
    .menu {
        display:block;
    }
    .drop-down {
        display:block;
    }
}



/*********************/
.hero-section h1,
.hero-section p {
    font-family: 'Roboto', sans-serif;
}
.hero-section h1 {
    font-size:3.5rem;
    text-align:center;
    position:relative;
    overflow:visible;

}
.hero-section p {
    font-size:1.1rem;
    font-weight:300;
}
.hero-buttons button{
    padding-block:0.75rem;
    padding-inline:2rem;
    background-color:var(--new-green);
    color:black;
    border:2px solid var(--new-green)

}
span {
    font-family: 'Roboto', sans-serif;

}
.hero-section {
    width:100%;
    z-index:0;
}
.hero-wrapper {
    width:100%;
    max-width:1440px;
    padding: 12rem 6rem;
    min-height:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:2rem;
    position:relative;
    padding-top:14rem;
    


}

.absolute {
    position:absolute;
}
.absolute:nth-of-type(1) {
    right:15%;
    top:20%;
    width:25px;
}
.absolute:nth-of-type(2) {
    left:10%;
    bottom:26%;
    width:35px;
}

.absolute:nth-of-type(3) {
    right:0%;
    bottom:0%;
    width:200px;
} 
.hero-wrapper h1 img:nth-of-type(1) {
    width:100px;
    left:5%;
    top:-50%;
}
.hero-wrapper .exist img {
    width:75px !important;
    z-index:-1;
    top:-10% !important;
    left:70% !important;
}
.hero-wrapper .affordable img {
    
    top:-100% !important;
    left:-20% !important;
}
.exist {
    position:relative;
}
.affordable {
    position:relative;
}

main {
    gap:0;
}
.new-circle {
    position:relative;
}

.new-circle-img {
    position:absolute;
    width:50px !important;
    left:80% !important;
    z-index:-1;
    top:0% !important;
    display:none;
}
@media (max-width:892px) {
    .hero-section h1 {
        font-size:3rem;
    }
    .hero-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:720px) {
    .hero-wrapper .affordable img {
        width:60px !important;
        top:-60% !important;
        left:-12% !important;
    }
    .hero-wrapper .exist img {
        width:50px !important;
        left:75% !important;
    }
    .absolute:nth-of-type(1) {
        right:15%;
        top:20%;
        width:20px;
    }
    .absolute:nth-of-type(2) {
        left:10%;
        bottom:26%;
        width:22px;
      
}
.hero-wrapper p {
    text-align:center;
}
}
@media (max-width:1101px) {
    br {
        display:none;
    }
}
@media (max-width:714px) {
    .hero-wrapper h1 {
    font-size:2.75rem;
    }
    .hero-wrapper p {
        font-size:1rem;
    }

}
@media (max-width:666px) {
    .hero-wrapper h1 {
        font-size:2.5rem;
    }
    .hero-wrapper {
        padding-inline:2rem;
    }

    .absolute:nth-of-type(3) {
        right:0%;
        bottom:0%;
        width:150px;
    }

}
@media (max-width:660px) {
    header {
        padding-inline:4rem;
    }
}
@media (max-width:562px) {
    header {
        padding-inline:2rem;
    }
    .hero-wrapper h1 {
        font-size:2.25rem;
    }
    .hero-wrapper p {
        font-size:0.8rem;
    }
    .hero-buttons button {
        font-size:0.7rem;
        padding-block:0.5rem;
        padding-inline:0.75rem;
    }
}
@media (max-width:508px) {
    .hero-wrapper h1 .gone {
        display:none;
    }
    .new-circle-img {
        display:block !important;
    }
}
@media (max-width:402px) {
    .hero-wrapper {
        padding-inline:1rem;
    }
}
@media (max-width:376px) {
    .hero-wrapper h1 {
        font-size:2rem;
    }
}
@media (max-width:334px) {
    .hero-wrapper p {
        font-size:0.7rem;
    }
    .hero-wrapper h1 {
        font-size:1.8rem;
    }
}
@media (max-width:316px) {
    .logo-container img {
        width:150px;
    }
}
@media (max-width:310px) {
    .hero-wrapper {
        padding-inline:0.5rem;
    }
    .hero-wrapper h1 {
        font-size:1.7rem;
    }
}




/****** Hover Interactions *******/
button {
    transition:0.5s;
    font-weight:700 !important;
}
button:hover {
    background-color:#93e8bc;
    cursor:pointer;
    font-weight:700;
    transition:0.5s;
}
.hero-section button {
    font-weight:700;
    transition:0.5s;
}
.hero-section button:hover {
    cursor:pointer;
    background-color:#93e8bc;
}
/*****************************/



/************************/

/**********************/
.spline {
    width:100%;
    height:50rem;
    margin-block:10rem;
}
.ci-lighting {
    width:100%;
    display:flex;
    flex-direction:column;
    gap:8rem;
    align-items: flex-start;
    max-width:1440px;
    overflow-x:hidden;
    margin-block:20rem;
}
.ci-lighting h2 {
    padding-left:9rem;
    font-size:3rem;
}
.ci-lighting img {
    width:600px;
}
.ci-lighting-grid {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-block:4rem;
    margin-inline:4rem;
    row-gap:20rem;

}
.grid-first-left {
    grid-column:1 / span 1;
    grid-row: 1 / span 1;
}
.grid-first-right {
    grid-column: 2 / span 1;
    grid-row:1 ;
    display:flex;
    line-height:2;
    align-items: center;
    padding-right:3rem;
    
}
.grid-second-left {
    grid-column:1 / span 1;
    grid-row:2 / span 1;
    display:flex;
    align-items: center;
    line-height:2;
    padding-left:3rem;
}
.grid-second-right {
    grid-column: 2;
    grid-row:2;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.grid-third-right {
    grid-column:2;
    grid-row:3;
    display:flex;
    align-items: center;
    line-height:2;
}
/***********************/




.portfolio-thumbnails {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:4rem;
    padding:4rem;
}
.thumbnail-titles {
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.thumbnail-main-title h2 {
    font-size:2.5rem;
}
.thumbnail-main-title p {
    font-weight:200;
}
.thumbnail-grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:6rem;
}
.grid-item {
    display:flex;
    flex-direction: column;
    gap:2rem;
    align-items: flex-start;
    transition:0.5s;
    padding:2rem;
    padding-inline:0.5rem;

}
.grid-item:hover {
    transition:0.5s;
    background-color:var(--blue);
    color:white;
    cursor:pointer;
    /* border-radius:1rem; */
}
.line {
    height:0.25rem;
    width:30%;
    background-color:var(--new-green);
}
.grid-item p:nth-of-type(1) {
    letter-spacing: 0.25rem;
    font-weight:500;
    margin-left:4rem;
}
.grid-item p:nth-of-type(2) {
    margin-left:4rem;
    font-size:1.5rem;
    font-weight:700;
    width:60%;
    line-height:1.5;
}
.grid-item:nth-of-type(4) {
    grid-column:2;
}
.thumbnail-grid img {
    width:100%;
}
@media (max-width:1094px) {
    .thumbnail-grid {
        grid-template-columns:1fr 1fr;
    }
}
@media (max-width:764px) {
    .thumbnail-grid {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    
}
@media (max-width:592px) {
    .portfolio-thumbnails h2 {
        font-size:1.75rem;
    }
}
@media (max-width:472px) {
    .portfolio-thumbnails {
        padding-inline:2rem;
    }
}
@media (max-width:472px) {
    .portfolio-thumbnails {
        padding-inline:1rem;
    }
}


video {
    width:100%;
    max-width:1440px;
}
.video-wrapper {
    padding:4rem;
    width:100%;
    display:flex;
    flex-direction:column;
    gap:10rem;
}
.video-wrapper h2 {
    font-size:2.5rem;
}
.video-wrapper p:nth-of-type(1) {
    font-size:0.8rem;
    font-weight:200;
}
.video-wrapper p:nth-of-type(2) {
    font-size:1rem;
    font-weight:400;
    margin-top:2rem;
    width:50%;
    line-height:1.75;
}