:root {
    --dark-purple:#AB88FF;
    --light-purple:#D8C8FF;
    --blue:#0A2640;
    --new-green:#65E4A3;
    --card-blue:#374D67;
    --light-text:rgb(108, 107, 107);

}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'EB Garamond', serif !important;
    scroll-behavior:smooth;
}

/*************************
Safari button reset
*************************/
button {
    color:black;
}
body {
    width:100%;
    height:100%;
}
/************************/
header {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    background-color:rgba(255, 255, 255, 0.9) !important;

}
.header-wrapper {
    width:100%;
    max-width:1440px;
    padding:2rem 6rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;

}
.logo-container img {
    width:200px;
    cursor:pointer;
}
nav {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}
nav ul {
    list-style:none;
    display:flex;
    gap:4rem;
    align-items: center;
    justify-content: center;
    font-size:0.9rem;
}
.header-button-container button {
    padding:0.5rem 1.25rem;
    background-color:#4FE9A4;
    border:none;
    color:black;
    font-size:1rem;
    display:flex;
    align-items: center;
    gap:0.5rem;
    font-weight:bold;
}
.header-button-container button img {
    width:20px;
}
.menu {
    display:none;
    width:40px;
}
@media (max-width:1144px) {
    nav {
        display:none;
    }
    .header-button-container {
        display:none;
    }
    .menu {
        display:block;
    }
    .drop-down {
        display:block;
    }
}
@media (max-width:660px) {
    .header-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:562px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:316px) {
    .logo-container img {
        width:150px;
    }
    .menu {
        width:30px;
    }
}

.our-work-drop,
.web-design-drop,
.pricing-drop {
    cursor:pointer;
}

.our-work-drop {
    position:relative;
    z-index:10000;
    
}
.our-work-menu,
.web-design-menu,
.pricing-menu {
    cursor:auto;
}
.our-work-menu p,
.web-design-menu p,
.pricing-menu p {
    cursor:auto;
}
.cursor {
    cursor:pointer !important;
    pointer-events:all !important;
}
.our-work-menu {
    position:absolute;
    inset:0;
    width:max-content;
    height:25rem;

}

.add-to-drop {
    transform:translateY(0%) !important;
    opacity:1 !important;
    transition:0.5s;
    pointer-events:all;
}
.web-design-drop {
    position:relative;
    z-index:1000000;
    
}
.web-design-menu {
    position:absolute;
    inset:0;
    width:max-content;
    height:20rem;

}

.pricing-drop {
    position:relative;
    z-index:1000000;
    
}
.pricing-menu {
    position:absolute;
    inset:0;
    width:max-content;
    height:20rem;

}

.pricing-menu,
.web-design-menu,
.our-work-menu {
    pointer-events:none;
}

.drop-down ul {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    gap:2rem;
    list-style:none;
}
.drop-down img {
    width:25px;

}

.menu {
    cursor:pointer;

}





.drop-down button {
    background-color:var(--new-green);
    color:black;
    display:flex;
    align-items: center;
    gap:0.5rem;
    font-weight:bold;
    border:none;
    padding:0.25rem 1rem;
}
.drop-down ul li span {
    display:flex;
    align-items: center;
    gap:1rem;
}

@media (max-width:456px) {
    .menu {
        width:25px;
    }
}
/******************** Hero Section *****************************/


main {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.hero-section {
    width:100%;
    max-width:1440px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:12rem 6rem;
    min-height:100%;
    gap:2rem;
    padding-top:12rem;
    padding-bottom:2rem;
    position:relative;
}
.hero-section h1 {
    font-size:3.5rem;
    text-align:center;
    

}
@media (max-width:1227px) {
    .hero-section h1 br {
        display:none;
    }
}
@media (min-width:1024px) {
    .hero-section h1 {
        transition:0.5s;
        transform:translateY(100%);
        transform-origin:bottom;
        opacity:0;
        animation:slide-up 1s ease-out forwards;
    }
    .hero-section p {
        transition:0.5s;
        transform:translateY(200%);
        transform-origin:bottom;
        opacity:0;
        animation:slide-up 1s ease-out forwards;
        animation-delay:1s;
    }
    .hero-section button {
        transition:0.5s;
        transform:translateY(200%);
        transform-origin:bottom;
        opacity:0;
        animation:slide-up 1s ease-out forwards;
        animation-delay:1.5s;
    }
}
@keyframes slide-up {
    to {
        opacity:1;
        transform:translateY(0);
    }
}
.hero-section p {
    font-size:1.1rem;
    font-weight:300;
    text-align:center;
    color:var(--light-text);
    width:50%;
    line-height:1.5;
}
.hero-section button {
    padding:0.75rem 2rem;
    font-weight:bold;
    border:none;
    background-color:var(--new-green);
    font-size:1rem;
    cursor:pointer;
    
}
.absolute {
    position:absolute;
}
.absolute:nth-of-type(1) {
    right:15%;
    top:20%;
    width:15px;
    
}
.absolute:nth-of-type(2) {
    left:20%;
    bottom:26%;
    width:15px;
}
.hollow {
    top:20%;
    left:10%;
}
.hollowed {
    bottom:20%;
    right:20%;

}
.assets-wrapper .hollowed {
    right:2%;
}
.crossed {
    width:15px;
    left:40%;
    top:20%;
    


}
.cross {
   right:40%;
   bottom:15%;

}

.hero-section h1 img:nth-of-type(1) {
    width:70px;
    
}
.hero-section .exist img {
    width:75px !important;
    z-index:-1;
    top:0% !important;
    right:0% !important;
}
.hero-section .affordable img {
    top:-100% !important;
    left:-20% !important;
}
.exist {
    position:relative;
}
.affordable {
    position:relative;
}
.new-circle {
    position:relative;
}

header {
    z-index:1;
}
@media (max-width:1101px) {
    br {
        display:none;
    }
}
@media (max-width:1068px) {
    .hero-section p {
        width:75%;
    }
}
@media (max-width:926px) {
    .hero-section p {
        width:75%;
    }
}
@media (max-width:855px) {
    .hero-section h1 {
        font-size:3rem;
    }
}
@media (max-width:736px) {
    .hero-section h1 {
        font-size:2.5rem;
    }
    .hero-section .exist img {
        width:50px !important;
        
    }
}
@media (max-width:665px) {
    .hero-section {
        padding-inline:4rem;
    }
}
@media (max-width:593px) {
    .hero-section h1 {
        font-size:2rem;
    }
    .hero-section p {
        font-size:0.9rem;
    }
}
@media (max-width:552px) {
    .star {
        width:150px !important;
    }
}
@media (max-width:499px) {
    .gone {
        display:none;
    }
    .new-circle-img {
        display:block;
    }
    .hero-section {
        padding-inline:2rem;
    }

}
@media (max-width:354px) {
    .hero-section h1 {
        font-size:1.8rem;
    }
    .hero-section p {
        font-size:0.75rem;
    }
    .hero-section button {
        padding:0.5rem 1rem;
        font-size:0.9rem;
    }
}
@media (max-width:319px) {
    .hero-section {
        padding-inline:1rem;
    }
}
@media (max-width:282px) {
    .hero-section h1 {
        font-size:1.7rem;
    }
}

/*********** Timeline ****************/
.timeline-section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.timeline-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem;
    display:flex;
    gap:4rem;
    position:relative;
}
.hollo {
    top:30% !important;
    right:0 !important;
}
.timeline-wrapper .cross {
    left:10%;
    top:40%;
}
.timeline-wrapper .hollow {
    left:30% !important;
    top:50%;
}
.timeline-wrapper .hollowed {
    left:50%;

}
@media (max-width:984px) {
    .timeline-wrapper .hollow {
        left:2% !important;

    }
    .timeline-wrapper .hollowed {
        left:95% !important;
    }
    .timeline-wrapper .other {
        top:0;
    }
    .timeline-wrapper .cross {
        left:5%;
    }
    .timeline-wrapper .crossed {
        top:100% !important;
    }
}
.left-timeline,
.right-timeline {
    width:50%;
    display:flex;
    flex-direction:column;
    gap:2rem;
}
.left-timeline h2 {
    font-size:2.5rem;
}
.left-timeline img {
    width:100%;
    min-width:35rem;
}
.left-timeline p {
    font-weight:300;
    color:var(--light-text);
}
.right-timeline img {
    width:40px;
}
.right-timeline {
    margin-top:8rem;
}
.icon-container {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.right-timeline h3 {
    font-size:1.5rem;
}
.icon-text {
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}
.icon-text p {
    line-height:1.75;
    font-size:0.9rem;
    font-weight:300;
    color:var(--light-text)
}
.icon-container .icon {
    align-self:flex-start;
}
.icon-p {
    margin-top:1rem;
    line-height:1.75;
    font-weight:300;
}
@media (max-width:1001px) {
    .timeline-wrapper {
        flex-direction:column;

    }
    .right-timeline {
        margin-top:0;
        width:100%;
    }
    .left-timeline {
        width:100%;
    }
}
@media (max-width:738px) {
    .timeline-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:513px) {
    .right-timeline img {
        width:30px;
    }
    .timeline-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:409px) {
    .timeline-wrapper h2 {
        font-size:2rem;
    }
}
@media (max-width:317px) {
    .icon-text h3 {
        font-size:1.25rem;
    }
    .icon-text p {
        font-size:0.8rem;
    }
    .icon-container {
        gap:1rem;
    }
}
/*************** Transparent Pricing *****************/
.transparent-section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.transparent-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:4rem;
    padding:6rem;
    position:relative;
}
.transparent-wrapper .hollow {
    top:100% !important;
}
.transparent-wrapper .hollo {
    left:90%;
}
.transparent-wrapper .hollowed {
    left:70%;
}
.transparent-wrapper .cross {
   left:10%;
   top:0;
}
.transparent-wrapper .crossed {
   top:0%;
}
.left-transparent img {
    width:100%;
}
.left-transparent,
.right-transparent {
    width:50%;
}
.right-transparent img {
    width:30px;
}
.right-transparent {
    display:flex;
    flex-direction:column;
    gap:2rem;
    align-items: flex-start;
    justify-content: center;
}
.right-transparent h2 {
    font-size:2.5rem;
}
.right-transparent p {
    line-height:1.75;
    font-weight:300;
    color:var(--light-text);
}
.right-transparent button {
    padding:0.75rem 1rem;
    background-color:var(--new-green);
    font-weight:bold;
    border:none;
    cursor:pointer;
}
@media (max-width:1004px) {
    .transparent-wrapper {
        flex-direction:column;
    }
    .transparent-wrapper .other {
        left:2%;
    }
    .transparent-wrapper .hollowed {
        left:97% !important;
    }
    .right-transparent,
    .left-transparent {
        width:100%;
    }
}
@media (max-width:738px) {
    .transparent-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:499px) {
    .transparent-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:372px) {
    .right-transparent h2 {
        font-size:2rem;
    }
    .right-transparent img {
        width:35px;
    }
}
/************* Assets **************/
.assets-section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.assets-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem;
    display:flex;
    gap:4rem;
    position:relative;
}
.assets-wrapper .hollow {
    left:0;
    left:20% !important;

}
.assets-wrapper .hollo {
    right:80% !important;
    top:90% !important;

}
.assets-wrapper .cross {
    bottom:5%;

}
.assets-wrapper .other {
   left:-10%;
}
.right-assets,
.left-assets {
    width:50%;
}
.right-assets img {
    width:100%;
    min-width:30rem;
}
.left-assets {
    display:flex;
    flex-direction:column;
    gap:2rem;
    align-items: flex-start;
    justify-content: center;
}
.left-assets img {
    width:30px;
}
.left-assets h2 {
    font-size:2.5rem;
}

.left-assets p {
    font-weight:300;
    color:var(--light-text);
}
.left-assets strong {
    color:black;
}
.left-assets strong {
    font-size:1.1rem;
    font-weight:700;
}
.left-assets button {
    padding:0.75rem 2rem;
    font-weight:700;
    border:none;
    cursor:pointer;
    background-color:var(--new-green);
    font-size:1rem;

}
@media (max-width:1196px) {
    .assets-wrapper {
        flex-direction:column-reverse;
    }
    .right-assets,
    .left-assets {
        width:100%;
    }
}

/** 499 738 **/

@media (max-width:738px) {
    .assets-wrapper {
        padding-inline:4rem;
    }
    .right-assets img {
        min-width:auto;
    }
    .left-assets h2 {
        font-size:2rem;
    }
}
@media (max-width:499px) {
    .assets-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:362px) {
    .left-assets h2 {
        font-size:1.75rem;
    }
}
@media (max-width:330px) {
    .assets-wrapper {
        padding-inline:1rem;
    }
}
/************* Cards **************/
.card-section {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:var(--blue);
    color:white;
}
.card-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    flex-direction:column;
    padding:6rem;
    align-items: flex-start;
    justify-content: center;
    gap:6rem;
}
.card-main-titles {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:1rem;
}
.card-main-titles p {
    width:50%;
    line-height:1.75;
    font-weight:300;
}
@media (max-width:1103px) {
    .card-main-titles p {
        width:75%;
    }
}
.card-main-titles-title {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-main-titles-title h2 {
    font-size:2.5rem;
}
.card-main-titles button {
    padding:0.5rem 2rem;
    font-weight:bold;
    font-size:1.1rem;
    border:none;
    background-color:var(--new-green);
    cursor:pointer;
}
.card-main-titles button:hover {
    color:var(--new-green);
}

.cards {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:2rem;
}
.card {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:space-between;
    background-color:var(--card-blue);
    padding-block:2rem;
    padding-inline:2rem;
    gap:1rem;
   
    
}
.card p {
    color:#dde1e3;
    font-weight:300;
    line-height:1.75;
}
.card button {
    align-self:flex-end !important;
    padding:0.25rem 0.75rem;
    font-weight:bold;
    background-color:var(--new-green);
    margin-top:0.5rem;
   
}

@media (max-width:1376px) {
    .cards {
        grid-template-columns:1fr 1fr;
    }
}
@media (max-width:818px) {
    .cards {
        grid-template-columns:1fr;
    }
}
@media (max-width:700px) {
    .card-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:635px) {
    .card-main-titles p {
        width:100%;
    }
}
@media (max-width:500px) {
    .card-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:350px) {
    .card-wrapper {
        padding-inline:1rem;
    }
}

/*************** Goodbye *******************/

.goodbye-section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.goodbye-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem;
    padding-block:16rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    position:relative;
}
.goodbye-wrapper .hollowed {
    bottom:20%;
    right:40%;
}
.goodbye-wrapper .hollo {
    right:20% !important;
    top:30% !important;
}
.goodbye-wrapper .cross {
    top:15%;
    
}
.goodbye-wrapper .other {
    left:35%;
    
}
.goodbye-wrapper h2 {
    font-size:2.5rem;
    text-align:center;
    width:75%;
}
.goodbye-wrapper button {
    padding:0.75rem 1.5rem;
    font-weight:700;
    background-color:var(--new-green);
    border:none;
}

.goodbye-wrapper h2 span {
    position:relative;
}
.abs {
    position:absolute;
    width:75px;

}
.together {
    position:relative;
}
.absone {
    position:absolute;
    top:-175%;
    left:-100%;
}
.abs {
    z-index:-1;
    width:50px;
    right:0;
    top:0;
}
.abstwo,
.absthree,
.absfour {
    position:absolute;
}
.abstwo {
    top:15%;
    right:20%;
    width:25px;
}
.absthree {
    bottom:15%;
    left:15%;
    width:15px;
}
.absfour {
    right:0;
    bottom:0;
    width:200px;
}
@media (max-width:821px) {
    .goodbye-wrapper {
        padding-inline:4rem;
    }
   
    .absone {
        width:75px;
        top:-100%;
        left:-75%;
    }
    .absfour {
        width:175px;
    }
}
@media (max-width:621px) {
    .goodbye-wrapper h2 {
        font-size:2rem;
    }
}
@media (max-width:523px) {
    .goodbye-wrapper {
        padding-inline:2rem;
    }
    .absfour {
        width:125px;
    }
}
@media (max-width:419px) {
    .goodbye-wrapper h2 {
        font-size:1.5rem;
    }
    .absone {
        width:50px;
    }
}
@media (max-width:331px) {
    .goodbye-wrapper {
        padding-inline:1rem;
    }
    .goodbye-wrapper button {
        padding:0.5rem 1rem;
    }
    
}
@media (max-width:299px) {
    .goodbye-wrapper h2 {
        font-size:1.25rem;
    }
    .goodbye-wrapper button {
        font-size:0.7rem;
    }
}

/*************** Footer ***************/
footer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
}
footer ul {
    list-style:none;
    font-weight:300;
} 
.footer-top{
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    width:100%;
    gap:2rem;
    padding-inline:6rem;
    padding-bottom:4rem;
    padding-top:10rem;
    max-width:1440px;;
    border-bottom:0.5px solid black;
}
.footer-bottom {
    padding:6rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:0.75rem;
    max-width:1440px;
    width:100%;
    text-align:center;

}
.footer-logo {
    width:250px;
}
.footer-left {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:2rem;
}
.footer-left p {
    font-weight:300;
}
.bold {
    font-weight:bold !important;
}
.logo {
    width:75px;
}
.address {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:0.5rem;
}
.footer-contact {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:0.5rem;
}
.footer-icons {
    display:flex;
    align-items: center;
    gap:2rem;
}

footer img {
    width:30px;
}
.footer-right {
    display:flex;
    align-items: flex-start;
    gap:4rem;
    height:100% ;
}
.footer-right-left ul,
.footer-right-right ul {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-end;
    gap:2rem;
    font-size:0.8rem;
}
.footer-bottom p {
    font-weight:200;
}
@media (max-width:906px) {
    .footer-top {
        flex-direction:column;
        align-items: center;
        padding-inline:0 !important;
        
    }
    .footer-top {
        gap:5rem;
    }
    .footer-left {
        text-align:center;
        align-items:center;
    }
    .address {
        text-align:center;
        align-items: center;
    }
    .address p {
        text-align:center !important;
        
    }
    .footer-contact {
        text-align:center;
        align-items:center;
    }
    .footer-right {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .footer-right ul {
        align-items:center;
    }
    
}
@media (max-width:512px) {
    .footer-bottom p {
        text-align:center;
    }
    .footer-bottom {
        gap:2rem;
        padding-inline:1rem;
    }
}



/*****************/

.our-work-menu a {
    color:white;
    font-size:1.25rem;
    cursor:pointer;
}
.our-work-menu p {
    font-weight:300;
}
.web-design-menu a p {
    color:white;
    font-size:1.25rem;
    cursor:pointer !important;
}
.web-design-menu p {
    font-weight:300;
}
.pricing-menu a {
    color:white;
    font-size:1.25rem;
    cursor:pointer;
}
.pricing-menu p {
    font-weight:300;
}
.our-work-menu a p,
.pricing-menu a p,
.web-design-menu a p {
    color:white;
    font-size:1.25rem;
    font-weight:700 !important;
}



.addToOurWork {
    transition:0.5s;
    opacity:1;
    transform:translateY(0);
    pointer-events:all !important;
    
}
.addme {
    pointer-events:all;
}



button {
    border:2px solid var(--new-green) !important;
    transition:0.5s;
}
button:hover {
    background-color:transparent;
    transition:0.5s;
    cursor:pointer;
} 
a {
    color:black;
    text-decoration:none;
}
.cursor {
    cursor:pointer;
    pointer-events:all !important;
   
}
.add-to-drop {
    pointer-events:all !important;
}
footer a {
    text-decoration:none;
    color:black;
}
.logo-footer {
    width:200px;
}
.card button:hover {
    color:var(--new-green);
}

a,
p,
li,
button,
strong,
.drop-down span {
    font-family:"roboto", serif !important;
}
/******************************/

@media (min-width:1024px) {
    .processScroll {
        transform:translateY(200%);
        opacity:0;
    }
    
    .icon {
        transform:translateY(100%);
        opacity:0;
    }
    .icon-text {
        transform:translateX(100%);
        opacity:0;
    }
    .left-transparent {
        transform:translateX(-100%);
        opacity:0;
    }
    .orderScroll {
        transform:translateY(200%);
        opacity:0;
    }
    .orderScrolled {
        transform:translateY(200%);
        opacity:0;
    }
    .right-assets {
        transform:translateX(100%);
        opacity:0;
    }
    .cardTitleScroll {
        transform:translateX(-100%);
        opacity:0;
    }
    
    
    
    .card {
        transform:scaleY(0.1);
        opacity:0;
    }
    
    
    
    .goodbyeScroll {
        transform:translateY(10rem);
        opacity:0;
    }
    footer p,
    footer img,
    footer ul a li {
        transform:translateX(100%);
        opacity:0;
    }
}
/***************/
.point {
    text-decoration:none;
    color:black;
    
}
.point p {
    font-weight:700 !important;
    font-size:1.2rem;
}
.a {
    color:white !important;
    font-weight:300 !important;
    text-decoration: none;
}
.drop-down-web-design-burger > a,
.drop-down-pricing-burger > a,
.drop-down-our-work-burger > a {
    text-decoration:none;
    color:black;
}


.drop-down-web-design-burger > a,
.drop-down-pricing-burger > a,
.drop-down-our-work-burger > a {
    pointer-events:none;
    font-weight:300;
}
.drop-down-web-design-burger > p,
.drop-down-pricing-burger > p,
.drop-down-our-work-burger > p {
    font-weight:300;
}
.drop-down-burger-add a
 {
    pointer-events:all;
}
.none button:hover {
    color:var(--new-green);
}
.logoWhite {
    width:200px !important;
    margin-bottom:2rem;
}
nav a,
nav a li,
nav p {
    text-decoration:none;
    color:black;
    font-weight:400 !important;
}
.drop-down a {
    color:white;
    text-decoration:none;
}
.menu {
    width:25px;
}
.drop-down-web-design-burger p,
.drop-down-pricing-burger p,
.drop-down-our-work-burger p {
    pointer-events:none;
    color:black;
}



.contactButtonDrop {
    max-width:8rem;
    display:flex;
    align-items: center;
    justify-content: center;
    
    padding:0.5rem 1rem !important;
    
   
}
.contactButtonDrop li {
    color:black !important;
}
@media (max-width:371px) {
    .drop-down {
       padding-inline:1.75rem;
    }
}
@media (max-width:371px) {
    .drop-down {
       padding-inline:1.5rem;
    }
}
