:root {
    --dark-purple:#AB88FF;
    --light-purple:#D8C8FF;
    --blue:#0A2640;
    --new-green:#65E4A3;
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'EB Garamond', serif !important;
    
    scroll-behavior:smooth;
}

/*************************
Safari button reset
*************************/
button {
    color:black;
}
/************************/
body {
    width:100%;
    background-color:white;
    color:black;
    
}
header {
    width:100%;
    display:flex;
    justify-content: center;
}
.header-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width:100%;
    padding-inline:6rem;
    background-color:white;
    z-index:200;
    max-width:1440px;
    padding-block:1.5rem;
    background-color:rgba(255, 255, 255, 0.9) !important;

}
.logo-container img {
    width:200px;
}
nav {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    align-self:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

}
nav ul {
    display:flex;
    list-style:none;
    align-items: center;
    gap:4rem;
    color:black !important;

}
nav ul li a {
    text-decoration: none;
    color:black;

}
nav ul li {
    text-decoration: none;
    font-size:0.9rem !important;


}
.nav-button-container button {
    padding:0.3rem 1.5rem;
    background-color:#4FE9A4;
    border:none;
    color:black;
    font-size:1rem;
    display:flex;
    align-items: center;
    gap:0.5rem;
    font-weight:bold;
}
.nav-button-container button img {
    width:20px;
}
.menu {
    width:35px;
    display:none;
    cursor:pointer;
    z-index:1000;
    position:relative;
}
.drop-down {
    background-color:var(--blue);
    opacity:0.8;
    color:white;
    position:absolute;
    right:10%;
    bottom:-600%;
    transform:translateY(-100%);
    opacity:0;
    transition:0.5s;
    /* height:35rem; */
    padding:2rem;
    padding-block:4rem;
    display:none;
    width:20rem;
    overflow-y: hidden;
}
.logoWhite {
    margin-bottom:4rem;
}
.dropDownWhyUs,
.dropDownWebDesign,
.dropDownPricing {
    position:relative;
    flex-direction:column;
}
.dropDownWhyUs span,
.dropDownWebDesign span,
.dropDownPricing span {
    display:flex;
    align-items: center;
    gap:1rem;
    align-self:flex-start;
}
.drop-down-our-work-burger {
    display:flex;
    flex-direction:column;
    gap:2.5rem;
    position:absolute;
    border:2px solid black;
    background-color:var(--new-green);
    font-weight:bold;
    color:black;
    left:0%;
    top:100%;
    padding:4rem;
    padding-block:2rem;
    transform:translateY(-250%);
    opacity:0;
    transition:0.5s;
    z-index:2;


}
.drop-down-web-design-burger {
    display:flex;
    flex-direction:column;
    gap:2.5rem;
    position:absolute;
    border:2px solid black;
    background-color:var(--new-green);
    font-weight:bold;
    color:black;
    left:0%;
    padding:4rem;
    top:100%;
    transform:translateY(-250%);
    opacity:1;
    transition:0.5s;
    z-index:2;

}
.drop-down-pricing-burger {
    display:flex;
    flex-direction:column;
    gap:2.5rem;
    position:absolute;
    border:2px solid black;
    background-color:var(--new-green);
    font-weight:bold;
    color:black;
    left:0%;
    padding:4rem;
    top:100%;
    transform:translateY(-250%);
    opacity:1;
    transition:0.5s;
    z-index:2;

}
.drop-down-burger-add {
    transform:translateY(0);
    opacity:1;
    transition:0.5s;
}
.drop-down-burger-add {
    transform:translateY(0);
    opacity:1;
    transition:0.5s;
}

.drop-down span img {
        width:25px;
}
.drop-down li {
    display:flex;
    align-items: center;
    gap:1.5rem;
}
.drop-down ul {
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:2.8rem;
    height:100%;
}
.drop-down button {
    padding:0.25rem 1rem;
    border-radius:0;
    border:2px solid var(--new-green);
    background-color:var(--new-green);
    display:flex;
    align-items: center;gap:0.5rem;
}
.logoWhite {
    width:200px;
}
.toggle {
    transform:translateY(0);
    opacity:1;
    transition:0.5s;
}

.header-add {
    background-color:rgba(255, 255, 255, 0.9);
    color:black;
}
.nav-add {
    color:black !important;
    font-weight:700;
}

.drop-down-add {
    background-color:#122e49c6 !important;
    color:white;
}
nav ul li {
    cursor:pointer;
}
.drop-down ul li {
    cursor:pointer;
}
.scrolling {
    color:var(--new-green) !important;
}
.our-work-drop,
.web-design-drop,
.pricing-drop {
    cursor:pointer;
}

.our-work-drop {
    position:relative;
    z-index:10000;
    
}
.our-work-menu,
.web-design-menu,
.pricing-menu {
    cursor:auto;
}
.our-work-menu p,
.web-design-menu p,
.pricing-menu p {
    cursor:auto;
}
.cursor {
    cursor:pointer !important;
}
.our-work-menu {
    position:absolute;
    inset:0;
    width:max-content;
    height:25rem;

}
.our-work-menu {
    display:flex;
    flex-direction:column;
    z-index:1000;
    align-items: flex-start;
    justify-content: center;
    gap:2rem;
    background-color:var(--blue);
    padding:2rem;
    font-weight:700;
    color:white;
    font-size:1rem;
    top:150%;
    left:-15%;
    transform:translateY(-10%);
    opacity:0;
    transition:0.5s;
    padding-inline:2rem;
   

}
.add-to-drop {
    transform:translateY(0%) !important;
    opacity:1 !important;
    transition:0.5s;
}
.web-design-drop {
    position:relative;
    z-index:1000000;
    
}
.web-design-menu {
    position:absolute;
    inset:0;
    width:max-content;
    height:20rem;

}
.web-design-menu {
    display:flex;
    flex-direction:column;
    z-index:1000;
    align-items: flex-start;
    justify-content: center;
    gap:2rem;
    background-color:var(--blue);
    font-weight:700;
    font-size:1rem;
    top:150%;
    left:10%;
    transform:translateY(-10%);
    opacity:0;
    color:white;
    transition:0.5s;
    padding-inline:2rem;
   

}
.add-to-drop {
    transform:translateY(0%) !important;
    opacity:1 !important;
    transition:0.5s;
}



.pricing-drop {
    position:relative;
    z-index:1000000;
    
}
.pricing-menu {
    position:absolute;
    inset:0;
    width:max-content;
    height:20rem;

}
.pricing-menu {
    display:flex;
    flex-direction:column;
    z-index:1000;
    align-items: flex-start;
    justify-content: center;
    gap:2rem;
    color:white;
    background-color:var(--blue);
    font-weight:700;
    font-size:1rem;
    top:150%;
    left:45%;
    transform:translateY(-10%);
    opacity:0;
    transition:0.5s;
    padding-inline:2rem;
   

}

.drop-down-our-work-burger,
.drop-down-web-design-burger,
.drop-down-pricing-burger {
    cursor:auto;
}
.drop-down-our-work-burger p,
.drop-down-web-design-burger p,
.drop-down-pricing-burger p {
    cursor:pointer;
}


.pricing-menu,
.web-design-menu,
.our-work-menu {
    pointer-events:none;
}
.add-to-drop {
    transform:translateY(0%) !important;
    opacity:1 !important;
    transition:0.5s;
    pointer-events:all;
}


.our-work-menu p {
    font-weight:300;
}
.web-design-menu a {
    color:white;
    font-size:1.25rem;
    font-weight:bold !important;
}
.web-design-menu p {
    font-weight:300;
}
.pricing-menu a {
    color:white;
    font-size:1.25rem;
    font-weight:bold !important;
}
.pricing-menu p {
    font-weight:300;
}
.our-work-menu a {
    color:white;
    font-size:1.25rem;
    font-weight:700 !important;
}
.our-work-menu a p,
.pricing-menu a p,
.web-design-menu a p {
    color:white;
    font-size:1.25rem;
    font-weight:700 !important;
}
a {
    text-decoration:none;
}

header a {
    color:black;
}



@media (max-width:1144px) {
    nav {
        display:none;
    }
    .nav-button-container {
        display:none;
    }
    .menu {
        display:block;
    }
    .drop-down {
        display:block;
    }
}
@media (max-width:700px) {
    .header-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:320px) {
    .logo-container img {
        width:150px;
    }
    .menu {
        width:25px;
    }
}


/*********************/



main {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.hero-section {
    width:100%;
    max-width:1440px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:12rem 6rem;
    min-height:100%;
    gap:2rem;
    padding-top:14rem;
    position:relative;
    padding-bottom:6rem;
    
}
@keyframes slide-up {
    to {
        opacity:1;
        transform:translateY(0);
    }
}
.hero-section h1 {
    font-size:3.5rem;
    text-align:center;
    transition:0.5s;
    transform:translateY(100%);
    transform-origin:bottom;
    opacity:0;
    animation:slide-up 1s ease-out forwards;
}
.hero-section p {
    font-size:1.1rem;
    font-weight:300;
    text-align:center;
    transition:0.5s;
    transform:translateY(200%);
    transform-origin:bottom;
    opacity:0;
    animation:slide-up 1s ease-out forwards;
    animation-delay:1s;
    width:50%;
    font-weight:300 ;
}

.absolute {
    position:absolute;
}
.affordable img {
    width:75px !important;
    
}
.absolute:nth-of-type(1) {
    right:15%;
    top:20%;
    width:25px;
   

}
.absolute:nth-of-type(2) {
    left:10%;
    bottom:26%;
    width:20px;

}


.absolute:nth-of-type(3) {
    right:0%;
    bottom:0%;
    width:200px;
} 

.hero-section .crossed {
    width:15px;
    right:20%;
    bottom:5%;
}
.hero-section .cross {
    left:20%;
    top:15%;

}
.hero-section .other {
    width:15px;
}
.hero-section .hollow {
    top:25%;
}
.hero-section .hollowed {
    bottom:8%;
    left:20%;


}


.hero-section .also {
    width:10px;
}
.hero-section .affordable img {
    
    top:-100% !important;
    left:-20% !important;

}
.exist {
    position:relative;
}
.affordable {
    position:relative;
}
.new-circle {
    position:relative;

}
.new-circle-img {
    position:absolute;
    width:50px !important;
    left:80% !important;
    z-index:-1;
    top:0% !important;
    display:none;
}
.exist {
    position:relative;
}
.hero-section .exist img {
    width:70px;
    z-index:-1;
    right:0% !important;
    bottom:0 !important;
}


header {
    z-index:1;
}
@media (max-width:1101px) {
    br {
        display:none;
    }
}
@media (max-width:855px) {
    .hero-section h1 {
        font-size:3rem;
    }
}
@media (max-width:762px) {
    .hero-section p {
        width:75%;
    }
}
@media (max-width:736px) {
    .hero-section h1 {
        font-size:2.5rem;
    }
    
}
@media (max-width:665px) {
    .hero-section {
        padding-inline:4rem;
    }
    
}
@media (max-width:593px) {
    .hero-section h1 {
        font-size:2rem;
    }
    .hero-section p {
        font-size:0.9rem;
    }
}

@media (max-width:499px) {
    .hero-section {
        padding-inline:2rem;
    }

}
@media (max-width:354px) {
    .hero-section h1 {
        font-size:1.8rem;
    }
    .hero-section p {
        font-size:0.75rem;
    }
    .hero-section button {
        padding:0.5rem 1rem;
        font-size:0.9rem;
    }
}
@media (max-width:319px) {
    .hero-section {
        padding-inline:1rem;
    }
}
@media (max-width:282px) {
    .hero-section h1 {
        font-size:1.7rem;
    }
}




/*********************/
.price-one,
.price-two,
.price-three {
    border:0.5px solid gray !important;
    min-height:30rem;
    width:100%;
    gap:1rem;
    border-top:5px solid var(--new-green) !important;
    
}
.pricing-section {
    width:100%;
    display:flex;
    gap:4rem;
    align-items: center;
    justify-content: center;
    padding:0 !important;
    margin:0 !important;
    padding-bottom:12rem;
    

}
.pricing-titles {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:1rem;
}

.pricing-section h3 {
    font-size:2rem;
}
.pricing-section > * {
    overflow:hidden;
}
.pricing-grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    width:100%;
    place-items:center;
    gap:4rem;
    max-width:1440px;
    padding-inline:6rem;

}
.tick-container {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:1rem;
    
    
}
.tick {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
    
}
.tick p {
    font-size:0.8rem !important;
}
.price-one,
.price-two,
.price-three {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding:2rem;
}
.price-one h3,
.price-two h3,
.price-three h3 {
    font-size:3rem;
} 
.price-one button,
.price-two button,
.price-three button {
    font-size:1rem;
    padding-block:0.4rem;
    padding-inline:1rem;
    font-weight:600;
    background-color:var(--new-green);
    border:none;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
} 
.price-one button img,
.price-two button img,
.price-three button img {
    width:25px;

}
.price-one p:nth-of-type(1),
.price-two p:nth-of-type(1),
.price-three p:nth-of-type(1) {
    font-size:1.5rem;
} 
.price-one p:nth-of-type(2),
.price-two p:nth-of-type(2),
.price-three p:nth-of-type(2) {
   
    font-weight:200;
} 
.tick-container ul {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tick {
    gap:2rem;
}
.tick-container ul li {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    
}
.big {
    font-size:300px;
    position:absolute;
    inset:0;
    font-weight:900;
    opacity:0.1;
}
.pricing-section > * {
    overflow-x:visible !important;
}
.pricing-grid > * {
    overflow-x:visible !important;
}
.tick-container > * {
    overflow-x:visible !important;
}
.tick-container ul li {
    overflow-x:visible !important
}
.tick-container ul {
    overflow-x:visible !important;
}
.tick-container img {
    overflow-x:visible !important;
    width:25px;
}

footer > * {
    overflow-x:hidden !important
}


.what-we-do-left > *,
.what-we-do-right > * {
    overflow:hidden;
}

.contact > * {
    overflow:hidden !important;
    
    
}



@media (max-width:1096px) {
    .pricing-grid {
        grid-template-columns:1fr;
        
    }
    .price-one,
    .price-two,
    .price-three {
        align-items:center;
    }
    .price-one h3,
    .price-two h3,
    .price-three h3 {
        font-size:6rem;
    }
    .price-one a,
    .price-two a,
    .price-three a {
        width:100%;
    }
    .price-one button,
    .price-two button,
    .price-three button {
        width:100%;
        font-size:1.25rem;
    }
    .tick-container {
        width:100%;
    }
    .tick p {
        font-size:1.2rem !important;
    }
    .tick img {
        width:50px;
    }
}
@media (max-width:700px) {
    .pricing-grid {
        padding-inline:4rem;
    }
    .price-one h3,
    .price-two h2,
    .price-three h3 {
        font-size:3rem !important;
    }
}
@media (max-width:579px) {
    .tick p {
        font-size:1rem !important;
    }
    .price-one h3,
    .price-two h3,
    .price-three h3  {
        font-size:4rem;
    }
    .tick img {
        width:30px;
    }
}
@media (max-width:500px) {
    .pricing-grid {
        padding-inline:2rem;
    }
}
@media (max-width:338px) {
    .tick p {
        font-size:0.9rem !important;
    }
    .price-one,
    .price-two,
    .price-three {
        padding-inline:1rem;
    }
}












/***********************/

.updates-section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.updates-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    padding:6rem;
    position:relative;
}
.updates-wrapper .also {
    width:15px;
}
.updates-wrapper .cross {
    width:15px;
    left: 60%;;
}
.updates-wrapper .crossed {
    bottom:80%;;
}
.updates-wrapper .hollow {
    left:10%;
    bottom:10%;

}

.updates-wrapper h2 {
    font-size:2.5rem;
}
.updates-titles p {
    font-weight:200;
}
.updates-wrapper p {
    font-weight:300;
    width:50%;
    line-height:1.75;
}
strong {
    font-weight:700;
}
.updates-wrapper button {
    padding:0.5rem 1rem;
    border:none;
    background-color:var(--new-green);
    font-weight:bold;
}
.updates-wrapper {
    display:flex;
    flex-direction:row-reverse;
    align-items: center;
    gap:6rem;
    padding-block:12rem;
}
.updates-left {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:1rem;
    width:50%;
   
}
.updates-left p {
    width:100%;
}
.updates-img {
    width:50%;
}

.updates-img img {
    width:100%;
    width:max(100%, 30rem);
}
@media (max-width:1170px) {
    .updates-wrapper {
        flex-direction:column-reverse;
    }
    .updates-left {
        width:100%;
    }
    .updates-img {
        width:100%;
    }
}
@media (max-width:700px) {
    .updates-wrapper {
        padding-inline:4rem;
    }
    .updates-img img {
        width:100% !important;
    }
}
@media (max-width:500px) {
    .updates-wrapper {
        padding-inline:2rem;
        padding-block:2rem;
        padding-top:12rem;
    }
    
}
@media (max-width:420px) {
    .updates-left h2 {
        font-size:2rem;
    }
    .updates-left p {
        font-size:0.8rem;
    }
}
@media (max-width:330px) {
    .updates-wrapper {
       padding-inline:1rem;
    }
    
}
/**************** Maintenance ************/

.maintenance-section {
    width:100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.maintenance-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    padding:6rem;
    flex-direction:column;
    gap:6rem;
}
.maintenance-titles h2 {
    font-size:2.5rem;
}
.maintenance-titles p {
    font-weight:300;
    line-height:1.75;
    width:100%;
}
.maintenance-titles {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:1rem;
}
.maintenance-titles button {
    padding:0.5rem 1rem;
    border:none;
    background-color:var(--new-green);
    font-weight:bold;
}
.maintenance-img img {
    width:max(100%, 25rem);
}
.maintenance-img {
    width:50%;
}
.maintenance-titles {
    width:50%;
}
.maintenance-titles-wrapper {
    display:flex;
    padding-bottom:4rem;
    align-items: center;
    justify-content: center;
    gap:4rem;

}
@media (max-width:1170px) {
    .maintenance-titles-wrapper {
        flex-direction:column-reverse;
    }
    .maintenance-img img {
        width:100%;
    }
    .maintenance-img {
        width:100%;
    }
    .maintenance-titles {
        width:100%;
    }
}
@media (max-width:700px) {
    .maintenance-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:500px) {
    .maintenance-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:420px) {
    .maintenance-titles h2 {
        font-size:2rem;
    }
    .maintenance-titles p {
        font-size:0.8rem;
    }
    .maintenance-titles-wrapper {
        padding-bottom:0rem;
    }
}
@media (max-width:330px) {
    .maintenance-wrapper {
       padding-inline:1rem;
    }
    
}


/***********************/

.maintenance-grid {
    display:grid;
    grid-template-columns:1fr;
    width:100%;
}
.left-grid {
    display:grid;
    grid-template-columns:1fr;
    gap:4rem;
    width:100%;
    align-items: center;   

}
.container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:calc(100vw - 12rem);
    max-width:calc(1440px - 12rem)
}
.container img {
    width:30px;
}
.list-item {
    width:50%;
    line-height:1.75;
}
.blank {
    color:white;
}
.price-summary {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    gap:0.5rem;
}
.price {
    display:flex;
    gap:0.5rem;
    align-items: center;
    justify-content: center;
}
.price p:nth-of-type(1) {
    font-weight:900;
    font-size:2rem;
}
.container {
    border-bottom:1px solid black;
    padding-bottom:2rem;
}
@media (max-width:813px) {
    .price p:nth-of-type(2) {
        font-size:0.7rem;
    }
    .price p:nth-of-type(1) {
        font-size:1.5rem;
    }
    .price-summary p {
        font-size:0.7rem;
    }
    .container img {
        width:30px;
    }
}
@media (max-width:700px) {
    .container {
        width:calc(100vw - 8rem);
    }
}
@media (max-width:500px) {
    .container {
        width:calc(100vw - 4rem);
    }
}
/* @media (max-width:489px) {
    .container {
        width:100%;
    }
} */
@media (max-width:480px) {
    .price p:nth-of-type(2) {
        font-size:0.6rem;
    }
    .price p:nth-of-type(1) {
        font-size:1.25rem;
    }
    .price-summary p {
        font-size:0.6rem;
    }
    .container img {
        width:20px;
    }
    .list-item {
        font-size:0.8rem;
    }
}
@media (max-width:330px) {
    .container {
        width:calc(100vw - 2rem);
    }
}



.logolink {
    cursor:pointer;
}
.head-button {
    cursor:pointer;
    transition:0.5s;
}
button {
    border:2px solid var(--new-green) !important;
    transition:0.5s;
}
button:hover {
    background-color:transparent;
    transition:0.5s;
    cursor:pointer;
} 
/*************** Footer ***************/
footer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
}
footer ul {
    list-style:none;
} 
.footer-top{
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    width:100%;
    gap:2rem;
    padding-inline:6rem;
    padding-bottom:4rem;
    padding-top:10rem;
    max-width:1440px;;
    border-bottom:0.5px solid black;
}
.footer-bottom {
    padding:6rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:0.75rem;
    max-width:1440px;
    width:100%;
    text-align:center;


}
.footer-logo {
    width:250px;
}
.footer-left {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:2rem;
}
.footer-left p {
    font-weight:300;
}
.bold {
    font-weight:bold !important;
}
.logo {
    width:75px;
}
.address {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:0.5rem;
}
.footer-contact {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:0.5rem;
}
.footer-icons {
    display:flex;
    align-items: center;
    gap:2rem;
}

footer img {
    width:30px;
}
.footer-right {
    display:flex;
    align-items: flex-start;
    gap:4rem;
    height:100% ;
}
.footer-right-left ul,
.footer-right-right ul {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-end;
    gap:2rem;
    font-size:0.8rem;
    font-weight:300;
}
.footer-bottom p {
    font-weight:200 !important;
}
@media (max-width:906px) {
    .footer-top {
        flex-direction:column;
        align-items: center;
        padding-inline:0 !important;
        
    }
    .footer-top {
        gap:5rem;
    }
    .footer-left {
        text-align:center;
        align-items:center;
    }
    .address {
        text-align:center;
        align-items: center;
    }
    .address p {
        text-align:center !important;
        
    }
    .footer-contact {
        text-align:center;
        align-items:center;
    }
    .footer-right {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .footer-right ul {
        align-items:center;
    }
    
}
@media (max-width:512px) {
    .footer-bottom p {
        text-align:center;
    }
    .footer-bottom {
        gap:2rem;
        padding-inline:1rem;
    }
}



/*****************/

.our-work-menu a {
    color:white;
    font-size:1.25rem;
    cursor:pointer;
}
.our-work-menu p {
    font-weight:300;
}
.web-design-menu a p {
    color:white;
    font-size:1.25rem;
    cursor:pointer !important;
}
.web-design-menu p {
    font-weight:300;
}
.pricing-menu a {
    color:white;
    font-size:1.25rem;
    cursor:pointer;
}
.pricing-menu p {
    font-weight:300;
}
.our-work-menu a p,
.pricing-menu a p,
.web-design-menu a p {
    color:white;
    font-size:1.25rem;
    font-weight:700 !important;
}



.addToOurWork {
    transition:0.5s;
    opacity:1;
    transform:translateY(0);
    visibility: visible;
    pointer-events:all !important;
    
}
.addme {
    pointer-events:all;
}



button {
    border:2px solid var(--new-green) !important;
    transition:0.5s;
}
button:hover {
    background-color:transparent;
    transition:0.5s;
    cursor:pointer;
} 
footer a {
    text-decoration:none;
    color:black;
}
.logo-footer {
    width:200px;
}
a,
p,
li,
button,
strong,
div,
.drop-down span {
    font-family:"roboto", serif !important;
}

/**********************/



.priceCard {
    transition:0.5s;
    animation: grow-in 1s ease forwards;
    transform:scaleY(0);
    opacity:0;
    animation-delay:1s;
}
.priceCard:nth-child(2) {
    transition:0.5s;
    animation: grow-in 1s ease forwards;
    transform:scaleY(0);
    opacity:0;
    animation-delay:1.5s;
}
.priceCard:nth-child(3) {
    transition:0.5s;
    animation: grow-in 1s ease forwards;
    transform:scaleY(0);
    opacity:0;
    animation-delay:2s;

}
@keyframes grow-in {
    to {
        transform:scaleY(1);
        opacity:1;
    }
}
.updateScroll {
    transform:translateY(15rem);
    opacity:0;
}
.updates-img {
    transform:translateX(-100%);
    opacity:0;
}
.maintenanceScroll {
    transform:translateY(20rem);
    opacity:0;
}
.maintenance-img {
    transform:translateX(100%);
    opacity:0;
}
.container {
    transform:scaleX(0);
    opacity:0;
}
footer p,
footer img,
footer ul a li {
    transform:translateX(100%);
    opacity:0;
}

@media (max-width:700px) {
    .exist img {
        width:40px !important;

    }
    
}


/******************/
.point {
    text-decoration:none;
    color:black;
    
}
.point p {
    font-weight:700 !important;
    font-size:1.2rem;
}
.a {
    color:white !important;
    font-weight:300 !important;
    text-decoration: none;
}
.drop-down-web-design-burger > a,
.drop-down-pricing-burger > a,
.drop-down-our-work-burger > a {
    text-decoration:none;
    color:black;
}


.drop-down-web-design-burger > a,
.drop-down-pricing-burger > a,
.drop-down-our-work-burger > a {
    pointer-events:none;
    font-weight:300;
}
.drop-down-web-design-burger > p,
.drop-down-pricing-burger > p,
.drop-down-our-work-burger > p {
    font-weight:300;
}
.drop-down-burger-add a
 {
    pointer-events:all;
}
.none button:hover {
    color:var(--new-green);
}

/*******************/
.enterprise-section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.enterprise-wrapper {
    width:100%;
    padding:6rem;
    max-width:1440px;
    display:flex;
    align-items: center;
    gap:4rem;
}
.enterprise-left {
    width:50%;
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    align-items: flex-start;
}
.enterprise-left h2 {
    font-size:2.5rem;
}
.enterprise-left p {
    line-height:1.75;
    font-weight:200;
}
.enterprise-right {
    width:50%;
}
.right-card {
    border:0.5px solid black;
    border-top:3px solid var(--new-green);
    padding:4rem;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:1rem;
}
.right-card p:nth-child(1) {
    font-size:1.5rem;
}
.right-card p:nth-of-type(2) {
    font-size:1rem;
    font-weight:200;

}
.right-card strong {
    font-size:3.5rem;
}
.right-card button {
    padding:0.5rem 2rem;
    font-weight:700;
    background-color:var(--new-green);
}
.ticks-card {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:1rem;
    justify-content: center;
}
@media (max-width:1098px) {
    .enterprise-wrapper {
        flex-direction:column;
    }
    .enterprise-left,
    .enterprise-right {
        width:100%;
    }
}
@media (max-width:700px) {
    .enterprise-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:522px) {
    .right-card {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .enterprise-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:488px) {
    .ticks-card .tick p {
        font-size:0.8rem !important;
    }
    .tick {
        gap:0.5rem;
    }
}
@media (max-width:350px) {
    .enterprise-wrapper {
        padding-inline:1rem;
    }
}
/**************/
.enter-scroll {
    transform:translateY(100%);
    opacity:0;
}
.right-card {
    transform:scaleY(0.1);
    opacity:0;
}