:root {
    --dark-purple:#AB88FF;
    --light-purple:#D8C8FF;
    --green:#C2F557;
    --blue:#0A2640;
    --new-green:#65E4A3;
    --light-text:rgb(108, 107, 107);
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'EB Garamond', serif !important;

    scroll-behavior:smooth;
}

/*************************
Safari button reset
*************************/
button {
    color:black;
}
/************************/
body {
    width:100%;
    background-color:white;
    color:black;
    
}
main {
    width:100%;
    color:black;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
   
}
/*****************************/
header {
    width:100%;
    display:flex;
    justify-content: center;
}
.header-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width:100%;
    padding-inline:6rem;
    background-color:white;
    z-index:200;
    max-width:1440px;
    background-color:transparent;
    padding-block:1.5rem;
    background-color:rgba(255, 255, 255, 0.9) !important;

}
.logo-container img {
    width:200px;
}
nav {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    align-self:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

}
nav ul {
    display:flex;
    list-style:none;
    align-items: center;
    gap:4rem;
    color:black !important;

}
nav ul li a {
    text-decoration: none;
    color:black;

}
nav ul li {
    text-decoration: none;
    font-size:0.9rem !important;


}
.nav-button-container button {
    padding:0.3rem 1.5rem;
    background-color:#4FE9A4;
    border:none;
    color:black;
    font-size:1rem;
    display:flex;
    align-items: center;
    gap:0.5rem;
}
.nav-button-container button img {
    width:20px;
}
.menu {
    width:35px;
    display:none;
    cursor:pointer;
    z-index:1000;
    position:relative;
}
.drop-down {
    background-color:var(--blue);
    opacity:0.8;
    color:white;
    position:absolute;
    right:10%;
    bottom:-700%;
    transform:translateY(-100%);
    opacity:0;
    transition:0.5s;
    padding:2rem;
    padding-block:4rem;
    display:none;
    width:20rem;
    overflow-y: hidden;
}
.logoWhite {
    margin-bottom:4rem;
}
.dropDownWhyUs,
.dropDownWebDesign,
.dropDownPricing {
    position:relative;
    flex-direction:column;
}
.dropDownWhyUs span,
.dropDownWebDesign span,
.dropDownPricing span {
    display:flex;
    align-items: center;
    gap:1rem;
    align-self:flex-start;
}
.drop-down-our-work-burger {
    display:flex;
    flex-direction:column;
    gap:2.5rem;
    position:absolute;
    border:2px solid black;
    background-color:var(--new-green);
    font-weight:bold;
    color:black;
    left:0%;
    top:100%;
    padding:4rem;
    padding-block:2rem;
    transform:translateY(-250%);
    opacity:0;
    transition:0.5s;
    z-index:2;


}
.drop-down-web-design-burger {
    display:flex;
    flex-direction:column;
    gap:2.5rem;
    position:absolute;
    border:2px solid black;
    background-color:var(--new-green);
    font-weight:bold;
    color:black;
    left:0%;
    padding:4rem;
    top:100%;
    transform:translateY(-250%);
    opacity:1;
    transition:0.5s;
    z-index:2;

}
.drop-down-pricing-burger {
    display:flex;
    flex-direction:column;
    gap:2.5rem;
    position:absolute;
    border:2px solid black;
    background-color:var(--new-green);
    font-weight:bold;
    color:black;
    left:0%;
    padding:4rem;
    top:100%;
    transform:translateY(-250%);
    opacity:1;
    transition:0.5s;
    z-index:2;

}
.drop-down-burger-add {
    transform:translateY(0);
    opacity:1;
    transition:0.5s;
}
.drop-down-burger-add {
    transform:translateY(0);
    opacity:1;
    transition:0.5s;
}

.drop-down span img {
        width:25px;
}
.drop-down li {
    display:flex;
    align-items: center;
    gap:1.5rem;
}
.drop-down ul {
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:2.8rem;
    height:100%;
}
.drop-down button {
    padding:0.25rem 1rem;
    border-radius:0;
    border:2px solid var(--new-green);
    background-color:var(--new-green);
    display:flex;
    align-items: center;gap:0.5rem;
}
.logoWhite {
    width:200px;
}
.toggle {
    transform:translateY(0);
    opacity:1;
    transition:0.5s;
}

.header-add {
    background-color:rgba(255, 255, 255, 0.9);
    color:black;
}
.nav-add {
    color:black !important;
    font-weight:700;
}

.drop-down-add {
    background-color:#122e49c6 !important;
    color:white;
}
nav ul li {
    cursor:pointer;
}
.drop-down ul li {
    cursor:pointer;
}
.scrolling {
    color:var(--new-green) !important;
}
.our-work-drop,
.web-design-drop,
.pricing-drop {
    cursor:pointer;
}

.our-work-drop {
    position:relative;
    z-index:10000;
    
}
.our-work-menu,
.web-design-menu,
.pricing-menu {
    cursor:auto;
}
.our-work-menu p,
.web-design-menu p,
.pricing-menu p {
    cursor:auto;
}
.cursor {
    cursor:pointer !important;
}
.our-work-menu {
    position:absolute;
    inset:0;
    width:max-content;
    height:25rem;

}
.our-work-menu {
    display:flex;
    flex-direction:column;
    z-index:1000;
    align-items: flex-start;
    justify-content: center;
    gap:2rem;
    background-color:var(--blue);
    padding:2rem;
    font-weight:700;
    color:white;
    font-size:1rem;
    top:150%;
    left:-15%;
    transform:translateY(-10%);
    opacity:0;
    transition:0.5s;
    padding-inline:2rem;

}
.add-to-drop {
    transform:translateY(0%) !important;
    opacity:1 !important;
    transition:0.5s;
}
.web-design-drop {
    position:relative;
    z-index:1000000;
    
}
.web-design-menu {
    position:absolute;
    inset:0;
    width:max-content;
    height:20rem;

}
.web-design-menu {
    display:flex;
    flex-direction:column;
    z-index:1000;
    align-items: flex-start;
    justify-content: center;
    gap:2rem;
    background-color:var(--blue);
    font-weight:700;
    font-size:1rem;
    top:150%;
    left:25%;
    transform:translateY(-10%);
    opacity:0;
    color:white;
    transition:0.5s;
    padding-inline:2rem;
    

}
.add-to-drop {
    transform:translateY(0%) !important;
    opacity:1 !important;
    transition:0.5s;
}



.pricing-drop {
    position:relative;
    z-index:1000000;
    
}
.pricing-menu {
    position:absolute;
    inset:0;
    width:max-content;
    height:20rem;

}
.pricing-menu {
    display:flex;
    flex-direction:column;
    z-index:1000;
    align-items: flex-start;
    justify-content:center;
    gap:2rem;
    color:white;
    background-color:var(--blue);
    font-weight:700;
    font-size:1rem;
    top:150%;
    left:40%;
    transform:translateY(-10%);
    opacity:0;
    transition:0.5s;
    padding-inline:2rem;
    

}

.drop-down-our-work-burger,
.drop-down-web-design-burger,
.drop-down-pricing-burger {
    cursor:auto;
}
.drop-down-our-work-burger p,
.drop-down-web-design-burger p,
.drop-down-pricing-burger p {
    cursor:pointer;
}


.pricing-menu,
.web-design-menu,
.our-work-menu {
    pointer-events:none;
}
.add-to-drop {
    transform:translateY(0%) !important;
    opacity:1 !important;
    transition:0.5s;
    pointer-events:all;
}


.our-work-menu p {
    font-weight:300;
}
.web-design-menu a {
    color:white;
    font-size:1.25rem;
    font-weight:bold !important;
}
.web-design-menu p {
    font-weight:300;
}
.pricing-menu a {
    color:white;
    font-size:1.25rem;
    font-weight:bold !important;
}
.pricing-menu p {
    font-weight:300;
}
.our-work-menu a {
    color:white;
    font-size:1.25rem;
    font-weight:700 !important;
}
.our-work-menu a p,
.pricing-menu a p,
.web-design-menu a p {
    color:white;
    font-size:1.25rem;
    font-weight:700 !important;
}
a {
    text-decoration:none;
}

header a {
    color:black;
}



@media (max-width:1144px) {
    nav {
        display:none;
    }
    .nav-button-container {
        display:none;
    }
    .menu {
        display:block;
    }
    .drop-down {
        display:block;
    }
}


/*********************/
.hero-section h1,
.hero-section p {
    font-family: 'Roboto', sans-serif;
}
.hero-section h1 {
    font-size:3.5rem;
    text-align:center;
    position:relative;
    overflow:visible;
    


}
@media (min-width:1024px) {
    .hero-section h1 {
        transition:0.5s;
        transform:translateY(100%);
        transform-origin:bottom;
        opacity:0;
        animation:slide-up 1s ease-out forwards;
    }
    .hero-section p {
        transition:0.5s;
        transform:translateY(200%);
        transform-origin:bottom;
        opacity:0;
        animation:slide-up 1s ease-out forwards;
        animation-delay:1s;
    }
    .hero-section button {
        transition:0.5s;
        transform:translateY(200%);
        transform-origin:bottom;
        opacity:0;
        animation:slide-up 1s ease-out forwards;
        animation-delay:1.5s;
    }
}
@keyframes slide-up {
    to {
        opacity:1;
        transform:translateY(0);
    }
}
.hero-section p {
    font-size:1.1rem;
    font-weight:300;
    color: var(--light-text);
    width:50%;
}
.hero-buttons button{
    padding-block:0.75rem;
    padding-inline:2rem;
    background-color:var(--new-green);
    color:black;
    border:2px solid var(--new-green);
    

}
span {
    font-family: 'Roboto', sans-serif;

}
.hero-section {
    width:100%;
    z-index:0;
    display:flex;
    align-items: center;
    justify-content: center;
}
.hero-wrapper {
    width:100%;
    max-width:1440px;
    padding: 12rem 6rem;
    min-height:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:2rem;
    position:relative;
    padding-top:14rem;
    


}

.absolute {
    position:absolute;
}
.absolute:nth-of-type(1) {
    right:15%;
    top:20%;
    width:15px;
}
.absolute:nth-of-type(2) {
    left:20%;
    bottom:26%;
    width:15px;

}

.absolute:nth-of-type(3) {
    right:20%;
    bottom:30%;
    width:15px;

} 
.absolute:nth-of-type(4) {
    width:15px;
    top:20%;
    left:20%;

} 

.cross {
    left:5% !important;

}
.hollo {
    top:25%;

}






.relative {
    position:relative;
}
.annoying {
    position:absolute;
    right:0%;
    z-index:-1;
    width:75px;
    top:0;
}
@media (max-width:572px) {
    .annoying {
        width:50px;
    }
}
.affordable {
    position:relative;
}

main {
    gap:0;
}


@media (max-width:892px) {
    .hero-section h1 {
        font-size:3rem;
    }
    .hero-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:720px) {
   
    .hero-wrapper .exist img {
        width:50px !important;
        left:75% !important;
    }
    
      
}
.hero-wrapper p {
    text-align:center;
}

@media (max-width:1101px) {
    br {
        display:none;
    }
}
@media (max-width:714px) {
    .hero-wrapper h1 {
    font-size:2.75rem;
    }
    .hero-wrapper p {
        font-size:1rem;
    }

}
@media (max-width:666px) {
    .hero-wrapper h1 {
        font-size:2.5rem;
    }
    .hero-wrapper {
        padding-inline:2rem;
    }

  

}
@media (max-width:660px) {
    .header-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:562px) {
    .header-wrapper {
        padding-inline:2rem;
    }
    .hero-wrapper h1 {
        font-size:2.25rem;
    }
    .hero-wrapper p {
        font-size:0.8rem;
    }
    .hero-buttons button {
        font-size:0.7rem;
        padding-block:0.5rem;
        padding-inline:0.75rem;
    }
}
@media (max-width:554px) {
    .hero-section p {
        width:75%;
    }
}
@media (max-width:508px) {
    .hero-wrapper h1 .gone {
        display:none;
    }
    .new-circle-img {
        display:block !important;
    }
}
@media (max-width:468px) {
    .hero-section .hollo {
        top:20%;
        width:10px;
    }
    .hero-section .cross {
        width:10px;
        bottom:40%;
    }
}
@media (max-width:402px) {
    .hero-wrapper {
        padding-inline:1rem;
    }
}
@media (max-width:392px) {
    header .logo-container img {
        width:150px;
    }
    .menu {
        width:25px;
    }
}
@media (max-width:376px) {
    .hero-wrapper h1 {
        font-size:2rem;
    }
}
@media (max-width:334px) {
    .hero-wrapper p {
        font-size:0.7rem;
    }
    .hero-wrapper h1 {
        font-size:1.8rem;
    }
}

@media (max-width:316px) {
    .logo-container img {
        width:150px;
    }
}
@media (max-width:310px) {
    .hero-wrapper {
        padding-inline:0.5rem;
    }
    .hero-wrapper h1 {
        font-size:1.7rem;
    }
}




/****** Hover Interactions *******/
button {
    transition:0.5s;
    font-weight:700 !important;
}
button:hover {
    background-color:#93e8bc;
    cursor:pointer;
    font-weight:700;
    transition:0.5s;
}
.hero-section button {
    font-weight:700;
    transition:0.5s;
}
.hero-section button:hover {
    cursor:pointer;
    background-color:#93e8bc;
}
/*****************************/



/************************/

/**********************/


/***********************/




.portfolio-thumbnails {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
    
}
.portfolio-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem;
    gap:4rem;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    position:relative;
}
.para {
    font-weight:300 !important;
    color:var(--light-text);
}

@media (max-width:700px) {
    .portfolio-wrapper {
        padding-inline:4rem !important;
    }
}
@media (max-width:500px) {
    .portfolio-wrapper {
        padding-inline:2rem !important;
    }
}
@media (max-width:350px) {
    .portfolio-wrapper {
        padding-inline:1rem !important;
    }
}


.portfolio-wrapper .absolute:nth-of-type(1) {
    right:15%;
    top:10%;
    width:15px;
}
.portfolio-wrapper .absolute:nth-of-type(2) {
    left:30%;
    bottom:16%;
    width:15px;

}

.portfolio-wrapper .absolute:nth-of-type(3) {
    right:20%;
    bottom:45%;
    width:15px;

} 
.portfolio-wrapper .absolute:nth-of-type(4) {
    width:15px;
    left:32%;
    top:25%;

} 

.portfolio-wrapper .cross {
    left:5% !important;
    top:0;


}
.portfolio-wrapper .hollo {
    top:50%;
    left:30%;

    

}
.portfolio-wrapper .hollow {
    right:5% !important;

}
.portfolio-wrapper .hollowed{
    left:5% !important;

}
.portfolio-wrapper .other{
    left:80% !important;

}




.hero-section .cross {
    left:30% !important;
}


.thumbnail-titles {
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.thumbnail-main-title h2 {
    font-size:2.5rem;
}
.thumbnail-main-title p {
    font-weight:300;
    color:var(--light-text);
}
.thumbnail-grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:2rem;
}
.grid-item,
.grid-item-one {
    display:flex;
    flex-direction: column;
    gap:2rem;
    align-items: flex-start;
    transition:0.5s;
    padding:2rem;
    padding-inline:0.5rem;

}
.grid-item:hover,
.grid-item-one:hover {
    transition:0.5s;
    background-color:var(--blue);
    color:white;
    cursor:pointer;
}
.line {
    height:0.25rem;
    width:30%;
    background-color:var(--new-green);
}
.grid-item p:nth-of-type(1),
.grid-item-one p:nth-of-type(1) {
    letter-spacing: 0.25rem;
    font-weight:500;
    margin-left:4rem;
}
.grid-item p:nth-of-type(2),
.grid-item-one p:nth-of-type(2) {
    margin-left:4rem;
    font-size:1.5rem;
    font-weight:700;
    width:60%;
    line-height:1.5;
}
.grid-item:nth-of-type(4),
.grid-item-one p:nth-of-type(4) {
    grid-column:1;
}
button {
    padding:0.5rem 1rem;
    background-color:var(--new-green);
    transition:0.5s;
    color:black;
    
}
.footer-logo {
    width:250px;
}
.grid-button-wrapper {
    display:flex;
    gap:0.5rem;
    align-items: center;
    justify-content: center;
}
.grid-button-wrapper button:nth-child(2) {
    background-color:transparent;
    border:2px solid var(--new-green);
    padding-inline:2rem;
}
.thumbnail-grid img {
    width:100%;
    aspect-ratio:3/2;
}
@media (max-width:1094px) {
    .thumbnail-grid {
        grid-template-columns:1fr 1fr;
    }
}
@media (max-width:764px) {
    .thumbnail-grid {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    
}
@media (max-width:592px) {
    .portfolio-thumbnails h2 {
        font-size:1.75rem;
    }
}
@media (max-width:472px) {
    .portfolio-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:472px) {
    .portfolio-wrapper {
        padding-inline:1rem;
    }
}



/***** Footer *****/
.footer {
    display:flex;
    flex-direction:column;
}
.footer-top{
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    width:100vw;
    gap:2rem;
    padding-inline:6rem;
    padding-bottom:4rem;
    padding-top:10rem;
    max-width:1440px;;
    border-bottom:0.5px solid black;
}
.footer-bottom {
    padding:6rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:0.75rem;
    max-width:1440px;
    width:100%;
    text-align:center;


}
.footer-left {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:2rem;
}
.bold {
    font-weight:bold;
}
.logo {
    width:75px;
}
.address {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:0.5rem;
}
.footer-contact {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:0.5rem;
}
.footer-icons {
    display:flex;
    align-items: center;
    gap:2rem;
}

footer img {
    width:30px;
}
.footer-right {
    display:flex;
    align-items: flex-start;
    gap:4rem;
    height:100% ;
}
.footer-right-left ul,
.footer-right-right ul {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-end;
    gap:2rem;
    font-size:0.8rem;
}
@media (max-width:906px) {
    .footer-top {
        flex-direction:column;
        align-items: center;
        padding-inline:0 !important;
        
    }
    .footer-top {
        gap:5rem;
    }
    .footer-left {
        text-align:center;
        align-items:center;
    }
    .address {
        text-align:center;
        align-items: center;
    }
    .address p {
        text-align:center !important;
        
    }
    .footer-contact {
        text-align:center;
        align-items:center;
    }
    .footer-right {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .footer-right ul {
        align-items:center;
    }
    
}
@media (max-width:512px) {
    .footer-bottom p {
        text-align:center;
    }
    .footer-bottom {
        gap:2rem;
        padding-inline:1rem;
    }
}
footer ul {
    list-style:none;
}



/*****************/

.goodbye {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.goodbye-titles {
    width:100%;
    max-width:1440px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:4rem;
    padding-block:16rem;
    flex-direction:column;
    gap:2rem;
    position:relative;
}
.goodbye-titles p {
    font-weight:300 !important;
    width:50%;
    line-height:1.5;
    color:var(--light-text);
}
.goodbye-titles h2 {
    font-size:3.5rem;
    z-index:0;
    position:relative;
}
.goodbye-titles button {
    padding:0.75rem 2rem;
    background-color:var(--new-green);
    border:none;
}
.you {
    position:relative;
}
.bye-circle {
    position:absolute;
    top:20%;
    right:0;
    z-index:-1;
    width:50px;
}
.abs {
    position:absolute;
    top:-150% !important;
    left:-10%;
}
@media (max-width:1252px) {
    .goodbye-titles p {
        width:75%;
    }
}
@media (max-width:1026px) {
    .goodbye-titles h2 {
        font-size:3rem;
    }
}
@media (max-width:849px) {
    .goodbye-titles h2 {
        font-size:2.5rem;
        text-align:center;
    }
}
@media (max-width:763px) {
    .goodbye-titles p {
        width:100%;
    }
}


@media (max-width:555px) {
    .abs {
        display:none;
    }
}
@media (max-width:546px) {
    .goodbye-titles {
        padding-inline:2rem;
    }
}



@media (max-width:341px) {
    .goodbye-titles {
        padding-inline:1rem;
    }
    
}

@media (max-width:296px) {
    .goodbye-titles h2 {
        font-size:2rem;
    }
    
}




.our-work-menu a {
    color:white;
    font-size:1.25rem;
}
.our-work-menu p {
    font-weight:300;
}
.web-design-menu a {
    color:white;
    font-size:1.25rem;
}
.web-design-menu p {
    font-weight:300;
}
.pricing-menu a {
    color:white;
    font-size:1.25rem;
}
.pricing-menu p {
    font-weight:300;
}
.our-work-menu a p,
.pricing-menu a p,
.web-design-menu a p {
    color:white;
    font-size:1.25rem;
    font-weight:700 !important;
}

button {
    border:2px solid var(--new-green) !important;
    transition:0.5s;
}
button:hover {
    background-color:transparent !important;
    transition:0.5s !important;
    cursor:pointer;
} 
footer a {
    text-decoration:none;
    color:black;
}
.logo-footer {
    width:200px;
}
/**************************/
a,
p,
li,
button,
strong,
div,
.drop-down span {
    font-family:"roboto", serif !important;
}
/********************************************/

@media (min-width:1024px) {
    .portfolioTitleScroll {
        transform:translateX(-30%);
        opacity:0;
    }
    .grid-item img {
        transform:translateX(50%);
        opacity:0;
    }
    .grid-item .stagger {
        transform:translateY(100%);
        opacity:0;
    }
    .grid-item .line {
        transform:scaleX(0);
        opacity:0;
        transform-origin:left;
    }
    .grid-item-one img {
        transform:translateX(50%);
        opacity:0;
    }
    .grid-item-one .stagger {
        transform:translateY(100%);
        opacity:0;
    }
    .grid-item-one .line {
        transform:scaleX(0);
        opacity:0;
        transform-origin:left;
    }
    .goodbye-titles h2,
    .goodbye-titles a,
    .goodbye-titles p {
        transform:translateY(100%);
        opacity:0;
    }
    footer p,
    footer img,
    footer ul a li {
        transform:translateX(100%);
        opacity:0;
}
}

/******************/
.point {
    text-decoration:none;
    color:black;
    
}
.point p {
    font-weight:700 !important;
    font-size:1.2rem;
}
.a {
    color:white !important;
    font-weight:300 !important;
    text-decoration: none;
}
.drop-down-web-design-burger > a,
.drop-down-pricing-burger > a,
.drop-down-our-work-burger > a {
    text-decoration:none;
    color:black;
}


.drop-down-web-design-burger > a,
.drop-down-pricing-burger > a,
.drop-down-our-work-burger > a {
    pointer-events:none;
    font-weight:300;
}
.drop-down-web-design-burger > p,
.drop-down-pricing-burger > p,
.drop-down-our-work-burger > p {
    font-weight:300;
}
.drop-down-burger-add a
 {
    pointer-events:all;
}
.none button:hover {
    color:var(--new-green);
}

/**********************/
.goodbye-titles h2,
.goodbye-titles a,
.goodbye-titles p  {
    
    text-align:center;
}
.para {
    font-weight:200;
    width:50%;
}
@media (max-width:1000px) {
    .para {
        width:75%;
    }
}
@media (max-width:800px) {
    .para {
        width:100%;
    }
}

.menu {
    width:25px;
}
nav a,
nav a li,
nav p {
    text-decoration:none;
    color:black;
    font-weight:400 !important;
}
.drop-down a {
    color:white;
    text-decoration:none;
}
.drop-down-web-design-burger p,
.drop-down-pricing-burger p,
.drop-down-our-work-burger p {
    pointer-events:none;
    color:black;
}

a {
    color:black;
}